@import "../../user/css/color.scss";

.tab_labels {
  display: flex;
  padding: 0px 16px;
  background: $whitewhite;
  justify-content: space-around;
}
.content {
  padding: 20px 16px;
  background: $whitewhite;
}
.table_p {
  text-align: center;
  margin: 8px;
  display: block;
}
.content-btn-area {
  margin-top: 30px;
}
.tab_labels {
  flex-wrap: wrap;
}
.profit_button_area {
  padding: 20px 16px 10px;
  margin: 0 0 0 auto;
  text-align: right;
  width: 100%;
}
.profit_button {
  padding: 4px 28px;
  border: 1px solid $black;
  border-radius: 4px;
}
.profit_month_button  {
  padding: 10px;
  background: $gray;
  color: $black;
  border-radius: 4px;
}
.profit_month_button img {
  width: 16px;

}
.gap {
  gap:4px;
}