@import "color.scss";

// 検索バー
.search {
    background: $gray;
    padding:6px 16px;
}
.search form {
    height:40px;
    padding-left: 8px;
    background-color:$whitewhite;
    border-radius: 4px;
    display: flex;
    align-items: center;
    
}
.search input {
      width: 100%;
    text-align: left;
    padding-left: 8px;
}
.search input::placeholder {
    color: $gray;
}
// 検索バー終わり