@import "color.scss";

.mtop_20 {
    margin-top: 20px;
  }
  
  // 投稿者アイコン
  .contributor_icon {
    border-radius: 30px;
    width: 20px;
  }
  // 警告
  .warn_shadow {
    box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important;
  
  }
  .warn_icon {
    background-image: url(../../img/warnexcla.png);
    z-index: 14;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 98%;
  }
  
  
  // 警告終わり
  
  // 検索バー
  .search {
      background: $gray;
      padding:6px 16px;
  }
  .search form {
      height:40px;
      padding-left: 8px;
      background-color:$whitewhite;
      border-radius: 4px;
      display: flex;
      align-items: center;
      
  }
  .search input {
        width: 100%;
      text-align: left;
      padding-left: 8px;
  }
  .search input::placeholder {
      color: $gray;
  }
  // 検索バー終わり
  
  // たぶ
  .active{
    background:$white;
     border-bottom: 1px solid $gray;
  }
  .page-title{
    text-align: left;
      padding: 20px 16px 10px;
  }
  .tab{
      width: 33%;
      height: 40px;
      flex-shrink: 0;
      border-radius: 4px 4px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .content{
    padding: 0px 16px 20px;
  }
  .tab-area {
   display: flex;
   justify-content: space-around;
  }
//   .acts {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//   }
  .user_auc_top_intab {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // たぶ終わり
  
  // ハート
  .favorite-icon{
      z-index: 0;
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  .favorite-icon img{
      border-radius: 16px;
      background:$whitewhite;
      width: 31px;
  }
  // ハート終わり
  
  // 女優カード、ガチャカード、オークションカード　共通
  a {
      display: block;
  }
  .relative {
      position: relative;
    
    }
  .compo_card{
      width: 49%;
      background: $whitewhite;
      box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25);
      margin-bottom: 10px;
  }
  .compo_card_inner{
    text-align: left;
      padding: 8px;
  }
  .compo_main_img{
      width: 100%;
  }
  .info-inner{
      display: flex;
      padding-bottom: 4px;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
  }
  .info-inner img{
      width: 14px;
      margin-right: 5px;
  }
  
  // プロジェクトカード終わり
  // 支援ボタンモーダル
  
  textarea {
  
    background: $whitewhite;
    padding: 10px;
    width: 100%;
  }
  ::placeholder {
    font-size: 16px;
  line-height: 16px;
  color: $gray;
  }
  .button1{
    background:$gray;
    border-radius: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    background:$gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay {
    background:#232323cb;
    position:absolute;
    position:fixed;
    top:0 ;
    right:0;
    width:100%;
    height:120%;
    z-index: 100;
  }
  .overlay-over{
    height: 80%;
    position: relative;
    margin:60px 16px 60px;
  }
  .modal_fix {
    position: fixed;
    overflow-y: auto;
  }
  .cancel-btn {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 110;
    cursor: pointer;
    width:72px;
    height:70px;
  }
  .overlay-overmain {
    overflow: scroll;
    color:$black;
  background:$whitegray;
    padding:30px 20px;
    margin:0 auto;
  }
  #btn-2 ,.btn-2{
    display: block;
    background: $black;
    width: 195px;
    z-index: 100;
    color: $white;
    border-radius: 4px;
    line-height: center;
    text-align: center;
    margin: 30px auto 0;
    font-size: 16px;
    padding: 14px;
  
  }
  .modal_heart {
    margin: 0 auto;
    width: 50%;
    display: block;
  
  }
  .main-area{
    padding: 10px 16px;
  }
  
  // ひとつボタン
  .onebutton {
    width: 100%;
    margin: 30px 0;
  }
  .onebutton_a {
    width: 60%;
    background: $black;
    color: $white;
    display: block;
    padding: 14px 0;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
  }

  // カードのハート位置
.favorite-icon {
    bottom: 112px;
}
.active{
    background:$white;
    border-bottom: 1px solid $gray;
}