@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

body { background-color: #E9E9E9; }

.user_message_top { padding: 4px 16px 16px; }

.user_message_top_index_title { padding: 16px 0 6px; font-size: 12px; }

.user_message_top_index_content { background-color: #FAFAFA; padding: 16px 8px; border-radius: 4px; }

.user_message_top_index_content_article { border-bottom: 1px solid #C4C4C4; padding: 4px; margin: 16px 0 0 0; }

.user_message_top_index_content_article_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.user_message_top_index_content_article_title_h3 { width: 80%; font-size: 14px; font-weight: bold; }

.user_message_top_index_content_article_title_mail { position: relative; }

.user_message_top_index_content_article_title_mail_img { width: 25px; }

.user_message_top_index_content_article_title_mail_p { font-size: 12px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.user_message_top_index_content_article_title_arrow { width: 16px; }

.user_message_top_index_content_article:first-child { margin: 0; }

.user_message_top_index_content_main_article { -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); padding: 10px; margin: 8px 0 0 0; }

.user_message_top_index_content_main_article_p { font-size: 12px; }

.user_message_top_index_content_main_article_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 13%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 0 0 0 auto; }

.user_message_top_index_content_main_article_mail { position: relative; display: inline-block; }

.user_message_top_index_content_main_article_mail_img { width: 18px; }

.user_message_top_index_content_main_article_mail_mail_p { font-size: 12px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.user_message_top_index_content_main_article_arrow { width: 14px; display: inline-block; }
