@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

header { z-index: 9; width: 100%; position: fixed; background: #FAFAFA; padding: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header-left img { vertical-align: center; height: 44px; }

.header-right { display: -webkit-box; display: -ms-flexbox; display: flex; }

#hamburger_menu { padding-left: 20px; }

.hbtn { position: fixed; top: 0; right: 0; width: 80px; height: 72px; cursor: pointer; z-index: 50; }

.line { position: absolute; top: 0; right: 20px; width: 32px; height: 2px; background: #232323; text-align: center; }

.line_01 { top: -16px; }

.line_03 { top: -36px; }

.btn_01 { -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); top: 16px; }

.btn_03 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.menu { position: fixed; top: 0; right: 0; padding: 30px 46px; background: #E9E9E9; }

p.menu_user { position: relative; top: -16px; width: 124px; }

.menu ul { padding: 0; margin: 0; }

.menu li { border-bottom: 1px solid #7D7D7D; padding: 16px 0 8px 0; }

.menu a { text-decoration: none; color: #232323; }

.sns { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 16px; }

.sns img { width: 28px; }

.panlist ul { margin: 0; padding: 0; background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: scroll; width: 100%; padding: 0 10px 0px; }

.panlist { background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 48px 16px 0 16px; }

.panlist a { font-weight: bold; display: inline-block; padding: 8px 8px 8px 8px; }

.panlist p { display: inline-block; padding: 8px 8px 8px 8px; }

.panlist li { font-size: 14px; position: relative; display: inline-block; padding-left: 20px; color: #7D7D7D; text-decoration: none; padding: 8px 8px 0 8px; word-break: keep-all; white-space: nowrap; }

.panlist li:first-child { padding-left: 0px; }

.panlist li:before { content: ''; width: 6px; height: 6px; border: 0; border-top: solid 2px #7D7D7D; border-right: solid 2px #7D7D7D; position: absolute; top: 60%; left: 0; margin-top: -4px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.panlist li:first-child::before { display: none; }

.mtop_20 { margin-top: 20px; }

.contributor_icon { border-radius: 30px; width: 20px; }

.warn_shadow { -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; }

.warn_icon { background-image: url(../../img/warnexcla.png); z-index: 14; background-repeat: no-repeat; background-size: 18px; background-position-x: 98%; }

.search { background: #C4C4C4; padding: 6px 16px; }

.search form { height: 40px; padding-left: 8px; background-color: #fff; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.search input { width: 100%; text-align: left; padding-left: 8px; }

.search input::-webkit-input-placeholder { color: #C4C4C4; }

.search input:-ms-input-placeholder { color: #C4C4C4; }

.search input::-ms-input-placeholder { color: #C4C4C4; }

.search input::placeholder { color: #C4C4C4; }

.active { background: #FAFAFA; border-bottom: 1px solid #C4C4C4; }

.page-title { text-align: left; padding: 20px 16px 10px; }

.tab { width: 49%; height: 40px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content { padding: 0px 16px 20px; }

.tab-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.acts { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.user_auc_top_intab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.favorite-icon { z-index: 0; position: absolute; bottom: 8px; right: 8px; }

.favorite-icon img { border-radius: 16px; background: #fff; width: 31px; }

a { display: block; }

.relative, .gatya_card_imgarea { position: relative; }

.compo_card { width: 49%; background: #fff; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.compo_main_img { width: 100%; }

.info-inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 4px; font-size: 12px; line-height: 18px; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-inner img { width: 14px; margin-right: 5px; }

.gatya_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.gatya_card_inner { padding: 8px; position: relative; text-align: left; }

.auc_card_inner { text-align: left; padding: 8px; }

.auc_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.nyuusatu-now > span { font-weight: bold; text-align: right; font-size: 16px; }

.nyuusatu-now { padding: 8px 0; font-size: 12px; }

.patron-name { font-size: 14px; }

.patron-name-area { border-top: 1px solid #C4C4C4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; padding: 8px 0 4px; }

.patron-name-area > img { width: 14px; height: 16px; margin-right: 4px; }

.heart_nyu { position: absolute; top: 0; right: 0; }

.heart_auch { position: absolute; top: 67%; right: 0px; }

.compo_card_hot_p { position: absolute; bottom: 8px; padding: 2px 8px; line-height: 14px; font-size: 12px; font-weight: bold; color: #FAFAFA; border-radius: 0px 4px 4px 0px; background: rgba(35, 35, 35, 0.5); }

.compo_card_hot_fire { width: 14px; }

.proj_card_title { font-size: 12px; line-height: 18px; margin: 0 0 6px 0; }

.info-2column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sienkingaku { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 8px 0 0 0; }

.sienkingaku-title { font-size: 10px; line-height: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.percent-area { padding: 4px 0px; }

.percent { border-radius: 2px; height: 4px; width: 100%; position: relative; }

.percent::before { content: ""; width: 100px; height: 4px; background-color: #232323; position: absolute; left: 0; top: 0; border-radius: 2px; }

.projsup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 4px; }

.supportbutton { padding: 7px; width: 75%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.sellbutton { padding: 7px; width: 100%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.projsup_heart { position: relative; left: 38px; top: 8px; }

#btn-2:disabled { opacity: 0.3; }

textarea { background: #fff; padding: 10px; width: 100%; }

::-webkit-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

:-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

.button1 { background: #C4C4C4; border-radius: 4px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.button { background: #C4C4C4; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay { background: #232323cb; position: absolute; position: fixed; top: 0; right: 0; width: 100%; height: 120%; z-index: 100; }

.overlay-over { height: 80%; position: relative; margin: 60px 16px 60px; }

.modal_fix { position: fixed; overflow-y: auto; }

.cancel-btn { position: absolute; top: 0; right: 0px; z-index: 110; cursor: pointer; width: 72px; height: 70px; }

.x { position: absolute; top: 20px; right: 10px; width: 32px; height: 2px; background: #232323; text-align: center; }

.x_1 { top: 16px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain { overflow: scroll; color: #232323; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2, .btn-2 { display: block; background: #232323; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_title { width: 80%; color: #232323; margin: 0 auto; text-align: center; font-size: 18px; padding-bottom: 30px; }

.modal_title span { display: block; text-align: center; font-size: 12px; margin: 4px 0 0 0; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.main-area { padding: 10px 16px; }

.onebutton { width: 100%; margin: 30px 0; }

.onebutton_a { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }

img.profedit { width: 30px; position: absolute; margin-left: 6px; top: 0; }

img.profeditimg { width: 30px !important; position: absolute; margin-left: 6px; top: 0; right: 0; }

.editnamemodal { width: 80%; margin: 0 auto; }

.editnamemodal img { display: block; margin: 0 auto 16px; }

input.modal_input { padding: 10px; background: #FAFAFA; width: 100%; }

.editimgmodal { width: 80%; margin: 0 auto; }

select.editimg { width: 100%; padding: 8px; margin-bottom: 16px; }

.editimgmodal img { width: 100%; }

.prize_title { font-size: 12px; color: #7D7D7D; padding-bottom: 6px; }

.prize_choice_title { font-size: 12px; color: #7D7D7D; padding-bottom: 6px; padding-top: 16px; }

.prize_index { padding: 16px; display: -webkit-box; display: -ms-flexbox; display: flex; background: #FAFAFA; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; text-align: center; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 10px; }

.prize_index_article { padding: 10px 5px; width: 30%; text-align: center; border: 1px dotted #C4C4C4; }

.prize_index_article p { font-size: 6px; padding: 4px 0 0 0; }

.prize_index_article img { width: 50%; }

.rank-icon { width: 30%; -ms-flex-negative: 0; flex-shrink: 0; }

.rank-icon-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.icon-text { font-size: 8px; line-height: 18px; }

.modal_p_r { text-align: center; padding-bottom: 30px; }

.modal_img { margin: 0 auto; width: 80%; display: block; }

.choice { position: relative; }

.x_ { position: absolute; top: -60px; right: -4px; width: 24px; height: 2px; background: #232323; text-align: center; }

.x_1_ { top: -4px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2_ { top: 16px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain { overflow: scroll; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2 { display: block; background: #C4C4C4; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_title { width: 80%; margin: 0 auto; text-align: center; font-size: 18px; padding-bottom: 30px; }

.modal_title span { display: block; text-align: center; font-size: 12px; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.outer_title { width: 70%; }

.rireki-tr { border: 1px solid #C4C4C4; }

.outer { border-top: 1px solid #C4C4C4; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.outer_right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.outer_right img { padding-left: 8px; }

.outer_right_span { display: block; font-size: 10px; }

.button-area { display: -webkit-box; display: -ms-flexbox; display: flex; }

.user { z-index: -9; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.user-left { width: 38%; }

.user-img, .tab-content { position: relative; }

.user-img > img { width: 100%; }

.rank-icon > img { width: 100%; }

.user-right { width: 62%; padding-left: 10px; text-align: left; }

.user-name-area { position: relative; padding-bottom: 10px; }

.user-name { font-size: 16px; line-height: 21px; }

.user-info-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.info { padding-bottom: 10px; }

.user-info-area > * { width: 48%; -ms-flex-negative: 0; flex-shrink: 0; }

.subtext { font-size: 16px; line-height: 19px; }

.q-icon { height: 16px; margin-left: 4px; }

.content-area-up { padding-top: 60px; }

.content-area-down { padding-top: 100px; }

.tab-content-up { padding: 63px 10px 0 10px; }

.tab-content-down { padding: 20px 10px 0 10px; }

.tab-area { position: absolute; top: -40px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.tab-area-up { top: -40px; }

.tab-area-down { top: -83px; }

.tab { width: 33%; height: 40px; -ms-flex-negative: 0; flex-shrink: 0; margin-bottom: 3px; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content { padding: 10px; -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.content-main > img { width: 100%; }

.content_index { padding: 10px; -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.return { margin: 0 0 0 10px; }

.switch_title { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

._state_open { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }

.return { font-size: 10px; line-height: 12px; margin-bottom: 6px; }

.content-sub { -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 10px; }

.content-sub-left img { width: 100%; }

.content-sub-left { width: 55%; padding: 10px; }

.content-subtitle, .change-info-part { margin-bottom: 16px; }

.content-sub-right { width: 45%; padding-left: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.date { padding: 12px 8px; }

.pr_but { padding: 10px; }

.detail-button-area { padding: 10px 10px 10px 0; }

.button { border-radius: 4px; height: 34px; margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.rireki_detail_p { padding: 8px; font-size: 14px; }

.content-maintitle-area { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.main-title { padding-bottom: 4px; }

.keihin-img { width: 56%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

.maintitle { padding-bottom: 6px; }

.keihin-about { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 10px; }

.keihin-info { padding: 0 0 0 10px; width: 50%; }

.kehin_button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: top; -ms-flex-align: top; align-items: top; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.batch { border: 1px solid #C4C4C4; border-radius: 4px; width: 60%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.subtitle_p { font-size: 12px; padding: 8px; line-height: 18px; border: 1px solid #C4C4C4; }

input[type="radio"] { display: none; }

.tab_panel { display: none; }

.tab1_label, .tab2_label, .tab3_label, .tab4_label, .tab5_label { background-color: #C4C4C4; }

#tab1:checked ~ .content5-button-area .tab1_label { border: 1px solid #7D7D7D; background: #FAFAFA; }

#tab2:checked ~ .content5-button-area .tab2_label { border: 1px solid #7D7D7D; background: #FAFAFA; }

#tab3:checked ~ .content5-button-area .tab3_label { border: 1px solid #7D7D7D; background: #FAFAFA; }

#tab4:checked ~ .content6-button-area .tab4_label { border: 1px solid #7D7D7D; background: #FAFAFA; }

#tab5:checked ~ .content6-button-area .tab5_label { border: 1px solid #7D7D7D; background: #FAFAFA; }

#tab1:checked ~ .panel_area #panel1 { display: block; }

#tab2:checked ~ .panel_area #panel2 { display: block; }

#tab3:checked ~ .panel_area #panel3 { display: block; }

#tab4:checked ~ .panel_area #panel4 { display: block; }

#tab5:checked ~ .panel_area #panel5 { display: block; }

.content2-main1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; }

.content2-main2-middle { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px; }

.content2-main2-middle > img { width: 50%; }

.c2-m2-info { padding-left: 10px; }

.info-inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 4px; font-size: 12px; line-height: 18px; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-inner > img { width: 14px; margin-right: 5px; }

.content2-main2-card { -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.content2-main2-top { display: -webkit-box; display: -ms-flexbox; display: flex; }

.content2-main2-title { width: 70%; padding: 10px; }

.content2-main2-status { width: 30%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content2-main2-bottom > textarea { width: 100%; border: 1px solid #E9E9E9; }

.content2-main2-bottom { padding: 0 10px 10px 10px; }

.c2-m2-button { width: 30%; margin: 0 0 0 auto; }

.lp-card { -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); padding: 20px; margin-bottom: 20px; }

.lp-card-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-bottom: 1px solid #C4C4C4; }

.buy-lp-button { width: 50%; margin: 0 0 10px auto; }

.rireki { border: 1px solid #C4C4C4; margin-bottom: 20px; }

.rireki-th { padding: 10px; color: #fff; }

.content5-button-area, .content6-button-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 10px; }

.content5-button { width: 33%; margin: 0; height: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content5-card-area, .content6-card-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.content6-button { width: 49%; height: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content6-card { -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; width: 100%; padding: 16px 16px 32px; }

.touroku-info-part { border-bottom: 1px solid #C4C4C4; padding: 16px 0 6px 0; }

.change-input { height: 34px; border: 1px solid #C4C4C4; margin-bottom: 4px; }

.input-full { width: 100%; }

.input-half { width: 49%; }

.input-60 { width: 60%; }

.radio-input { border: 1px solid #C4C4C4; padding: 10px 0 10px 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 4px; }

.jyuusyo-button { padding: 9px; margin-left: 9px; margin-top: 0px; }

.harf-size, .modal_colum_div { width: 50%; }

.pass-input-area { position: relative; }

.input-show { position: absolute; top: 0; bottom: 0; right: 42%; }

.active { background: #FAFAFA; border-bottom: 1px solid #C4C4C4; }

.container { display: block; position: relative; margin-bottom: 12px; }

.checkmark { position: absolute; top: 6px; left: 6px; height: 25px; width: 25px; background-color: #eee; border-radius: 50%; }

/* チェックした時のカラーリング */
.container input:checked ~ .checkmark { background-color: #4caf50; }

.checkmark:after { content: ""; position: absolute; display: none; }

.container input:checked ~ .checkmark:after { display: block; }

.container .checkmark:after { top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 50%; background: white; }

select.change-input.input-half { background: none; }

.button1 { display: block; background: #c3c3c3; width: 195px; border-radius: 4px; height: 42px; text-align: center; margin: 0 auto; color: #fff; font-size: 16px; }

.modal_section { color: #232323; }

.modal_title { text-align: center; font-size: 18px; padding-bottom: 30px; }

.subtitle { font-size: 10px; line-height: 18px; color: #7D7D7D; display: block; }

.modal_colum { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; }

.modal_colum_div a { width: 50%; color: #FAFAFA; background-color: #7D7D7D; text-align: center; border-radius: 4px; padding: 10px 34px; }

.modal_p { padding-bottom: 16px; }

.modal_p_last { padding-bottom: 30px; }

.modal_button a { background: #C4C4C4; text-align: center; margin: 0 0 16px auto; border-radius: 4px; padding: 10px; width: 50%; display: block; }

.gacha_outer { -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); padding: 10px; margin-bottom: 10px; }

.gacha_outer_detail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 10px; }

.detail_img img { width: 100%; }

.detail_img { width: 56%; }
