@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

header { z-index: 9; width: 100%; position: fixed; background: #FAFAFA; padding: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header-left img { vertical-align: center; height: 44px; }

.header-right { display: -webkit-box; display: -ms-flexbox; display: flex; }

#hamburger_menu { padding-left: 20px; }

.hbtn { position: fixed; top: 0; right: 0; width: 80px; height: 72px; cursor: pointer; z-index: 50; }

.line { position: absolute; top: 0; right: 20px; width: 32px; height: 2px; background: #232323; text-align: center; }

.line_01 { top: -16px; }

.line_03 { top: -36px; }

.btn_01 { -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); top: 16px; }

.btn_03 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.menu { position: fixed; top: 0; right: 0; padding: 30px 46px; background: #E9E9E9; }

p.menu_user { position: relative; top: -16px; width: 124px; }

.menu ul { padding: 0; margin: 0; }

.menu li { border-bottom: 1px solid #7D7D7D; padding: 16px 0 8px 0; }

.menu a { text-decoration: none; color: #232323; }

.sns { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 16px; }

.sns img { width: 28px; }

.panlist ul { margin: 0; padding: 0; background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: scroll; width: 100%; padding: 0 10px 0px; }

.panlist { background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 48px 16px 0 16px; }

.panlist a { font-weight: bold; display: inline-block; padding: 8px 8px 8px 8px; }

.panlist p { display: inline-block; padding: 8px 8px 8px 8px; }

.panlist li { font-size: 14px; position: relative; display: inline-block; padding-left: 20px; color: #7D7D7D; text-decoration: none; padding: 8px 8px 0 8px; word-break: keep-all; white-space: nowrap; }

.panlist li:first-child { padding-left: 0px; }

.panlist li:before { content: ''; width: 6px; height: 6px; border: 0; border-top: solid 2px #7D7D7D; border-right: solid 2px #7D7D7D; position: absolute; top: 60%; left: 0; margin-top: -4px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.panlist li:first-child::before { display: none; }

.mtop_20 { margin-top: 20px; }

.contributor_icon { border-radius: 30px; width: 20px; }

.warn_shadow { -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; }

.warn_icon { background-image: url(../../img/warnexcla.png); z-index: 14; background-repeat: no-repeat; background-size: 18px; background-position-x: 98%; }

.search { background: #C4C4C4; padding: 6px 16px; }

.search form { height: 40px; padding-left: 8px; background-color: #fff; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.search input { width: 100%; text-align: left; padding-left: 8px; }

.search input::-webkit-input-placeholder { color: #C4C4C4; }

.search input:-ms-input-placeholder { color: #C4C4C4; }

.search input::-ms-input-placeholder { color: #C4C4C4; }

.search input::placeholder { color: #C4C4C4; }

.active { background: #FAFAFA; border-bottom: 1px solid #C4C4C4; }

.page-title { text-align: left; padding: 20px 16px 10px; }

.tab { width: 49%; height: 40px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content { padding: 0px 16px 20px; }

.tab-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.acts { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.user_auc_top_intab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.favorite-icon { z-index: 0; position: absolute; bottom: 8px; right: 8px; }

.favorite-icon img { border-radius: 16px; background: #fff; width: 31px; }

a { display: block; }

.relative, .gatya_card_imgarea { position: relative; }

.compo_card { width: 49%; background: #fff; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.compo_main_img { width: 100%; }

.info-inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 4px; font-size: 12px; line-height: 18px; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-inner img { width: 14px; margin-right: 5px; }

.gatya_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.gatya_card_inner { padding: 8px; position: relative; text-align: left; }

.auc_card_inner { text-align: left; padding: 8px; }

.auc_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.nyuusatu-now > span { font-weight: bold; text-align: right; font-size: 16px; }

.nyuusatu-now { padding: 8px 0; font-size: 12px; }

.patron-name { font-size: 14px; }

.patron-name-area { border-top: 1px solid #C4C4C4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; padding: 8px 0 4px; }

.patron-name-area > img { width: 14px; height: 16px; margin-right: 4px; }

.heart_nyu { position: absolute; top: 0; right: 0; }

.heart_auch { position: absolute; top: 67%; right: 0px; }

.compo_card_hot_p { position: absolute; bottom: 8px; padding: 2px 8px; line-height: 14px; font-size: 12px; font-weight: bold; color: #FAFAFA; border-radius: 0px 4px 4px 0px; background: rgba(35, 35, 35, 0.5); }

.compo_card_hot_fire { width: 14px; }

.proj_card_title { font-size: 12px; line-height: 18px; margin: 0 0 6px 0; }

.info-2column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sienkingaku { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 8px 0 0 0; }

.sienkingaku-title { font-size: 10px; line-height: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.percent-area { padding: 4px 0px; }

.percent { border-radius: 2px; height: 4px; width: 100%; position: relative; }

.percent::before { content: ""; width: 100px; height: 4px; background-color: #232323; position: absolute; left: 0; top: 0; border-radius: 2px; }

.projsup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 4px; }

.supportbutton { padding: 7px; width: 75%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.sellbutton { padding: 7px; width: 100%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.projsup_heart { position: relative; left: 38px; top: 8px; }

#btn-2:disabled { opacity: 0.3; }

textarea { background: #fff; padding: 10px; width: 100%; }

::-webkit-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

:-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

.button1 { background: #C4C4C4; border-radius: 4px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.button { background: #C4C4C4; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay { background: #232323cb; position: absolute; position: fixed; top: 0; right: 0; width: 100%; height: 120%; z-index: 100; }

.overlay-over { height: 80%; position: relative; margin: 60px 16px 60px; }

.modal_fix { position: fixed; overflow-y: auto; }

.cancel-btn { position: absolute; top: 0; right: 0px; z-index: 110; cursor: pointer; width: 72px; height: 70px; }

.x { position: absolute; top: 20px; right: 10px; width: 32px; height: 2px; background: #232323; text-align: center; }

.x_1 { top: 16px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain { overflow: scroll; color: #232323; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2, .btn-2 { display: block; background: #232323; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_title { width: 80%; color: #232323; margin: 0 auto; text-align: center; font-size: 18px; padding-bottom: 30px; }

.modal_title span { display: block; text-align: center; font-size: 12px; margin: 4px 0 0 0; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.main-area { padding: 10px 16px; }

.onebutton { width: 100%; margin: 30px 0; }

.onebutton_a { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }

html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

header { z-index: 9; width: 100%; position: fixed; background: #FAFAFA; padding: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header-left img { vertical-align: center; height: 44px; }

.header-right { display: -webkit-box; display: -ms-flexbox; display: flex; }

#hamburger_menu { padding-left: 20px; }

.hbtn { position: fixed; top: 0; right: 0; width: 80px; height: 72px; cursor: pointer; z-index: 50; }

.line { position: absolute; top: 0; right: 20px; width: 32px; height: 2px; background: #232323; text-align: center; }

.line_01 { top: -16px; }

.line_03 { top: -36px; }

.btn_01 { -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); top: 16px; }

.btn_03 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.menu { position: fixed; top: 0; right: 0; padding: 30px 46px; background: #E9E9E9; }

p.menu_user { position: relative; top: -16px; width: 124px; }

.menu ul { padding: 0; margin: 0; }

.menu li { border-bottom: 1px solid #7D7D7D; padding: 16px 0 8px 0; }

.menu a { text-decoration: none; color: #232323; }

.sns { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 16px; }

.sns img { width: 28px; }

.panlist ul { margin: 0; padding: 0; background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: scroll; width: 100%; padding: 0 10px 0px; }

.panlist { background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 48px 16px 0 16px; }

.panlist a { font-weight: bold; display: inline-block; padding: 8px 8px 8px 8px; }

.panlist p { display: inline-block; padding: 8px 8px 8px 8px; }

.panlist li { font-size: 14px; position: relative; display: inline-block; padding-left: 20px; color: #7D7D7D; text-decoration: none; padding: 8px 8px 0 8px; word-break: keep-all; white-space: nowrap; }

.panlist li:first-child { padding-left: 0px; }

.panlist li:before { content: ''; width: 6px; height: 6px; border: 0; border-top: solid 2px #7D7D7D; border-right: solid 2px #7D7D7D; position: absolute; top: 60%; left: 0; margin-top: -4px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.panlist li:first-child::before { display: none; }

.mtop_20 { margin-top: 20px; }

.contributor_icon { border-radius: 30px; width: 20px; }

.warn_shadow { -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.25) !important; }

.warn_icon { background-image: url(../../img/warnexcla.png); z-index: 14; background-repeat: no-repeat; background-size: 18px; background-position-x: 98%; }

.search { background: #C4C4C4; padding: 6px 16px; }

.search form { height: 40px; padding-left: 8px; background-color: #fff; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.search input { width: 100%; text-align: left; padding-left: 8px; }

.search input::-webkit-input-placeholder { color: #C4C4C4; }

.search input:-ms-input-placeholder { color: #C4C4C4; }

.search input::-ms-input-placeholder { color: #C4C4C4; }

.search input::placeholder { color: #C4C4C4; }

.active { background: #FAFAFA; border-bottom: 1px solid #C4C4C4; }

.page-title { text-align: left; padding: 20px 16px 10px; }

.tab { width: 49%; height: 40px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content { padding: 0px 16px 20px; }

.tab-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.acts { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.user_auc_top_intab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.favorite-icon { z-index: 0; position: absolute; bottom: 8px; right: 8px; }

.favorite-icon img { border-radius: 16px; background: #fff; width: 31px; }

a { display: block; }

.relative, .gatya_card_imgarea { position: relative; }

.compo_card { width: 49%; background: #fff; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.compo_main_img { width: 100%; }

.info-inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 4px; font-size: 12px; line-height: 18px; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-inner img { width: 14px; margin-right: 5px; }

.gatya_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.gatya_card_inner { padding: 8px; position: relative; text-align: left; }

.auc_card_inner { text-align: left; padding: 8px; }

.auc_card_title { font-size: 12px; line-height: 18px; margin-bottom: 6px; }

.nyuusatu-now > span { font-weight: bold; text-align: right; font-size: 16px; }

.nyuusatu-now { padding: 8px 0; font-size: 12px; }

.patron-name { font-size: 14px; }

.patron-name-area { border-top: 1px solid #C4C4C4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; padding: 8px 0 4px; }

.patron-name-area > img { width: 14px; height: 16px; margin-right: 4px; }

.heart_nyu { position: absolute; top: 0; right: 0; }

.heart_auch { position: absolute; top: 67%; right: 0px; }

.compo_card_hot_p { position: absolute; bottom: 8px; padding: 2px 8px; line-height: 14px; font-size: 12px; font-weight: bold; color: #FAFAFA; border-radius: 0px 4px 4px 0px; background: rgba(35, 35, 35, 0.5); }

.compo_card_hot_fire { width: 14px; }

.proj_card_title { font-size: 12px; line-height: 18px; margin: 0 0 6px 0; }

.info-2column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sienkingaku { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 8px 0 0 0; }

.sienkingaku-title { font-size: 10px; line-height: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.percent-area { padding: 4px 0px; }

.percent { border-radius: 2px; height: 4px; width: 100%; position: relative; }

.percent::before { content: ""; width: 100px; height: 4px; background-color: #232323; position: absolute; left: 0; top: 0; border-radius: 2px; }

.projsup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 4px; }

.supportbutton { padding: 7px; width: 75%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.sellbutton { padding: 7px; width: 100%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.projsup_heart { position: relative; left: 38px; top: 8px; }

#btn-2:disabled { opacity: 0.3; }

textarea { background: #fff; padding: 10px; width: 100%; }

::-webkit-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

:-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

.button1 { background: #C4C4C4; border-radius: 4px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.button { background: #C4C4C4; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay { background: #232323cb; position: absolute; position: fixed; top: 0; right: 0; width: 100%; height: 120%; z-index: 100; }

.overlay-over { height: 80%; position: relative; margin: 60px 16px 60px; }

.modal_fix { position: fixed; overflow-y: auto; }

.cancel-btn { position: absolute; top: 0; right: 0px; z-index: 110; cursor: pointer; width: 72px; height: 70px; }

.x { position: absolute; top: 20px; right: 10px; width: 32px; height: 2px; background: #232323; text-align: center; }

.x_1 { top: 16px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain { overflow: scroll; color: #232323; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2, .btn-2 { display: block; background: #232323; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_title { width: 80%; color: #232323; margin: 0 auto; text-align: center; font-size: 18px; padding-bottom: 30px; }

.modal_title span { display: block; text-align: center; font-size: 12px; margin: 4px 0 0 0; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.main-area { padding: 10px 16px; }

.onebutton { width: 100%; margin: 30px 0; }

.onebutton_a { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }

.main_card { -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin: 20px 16px; padding: 10px; }

.main_card_title { padding: 0 0 10px 0; font-size: 16px; }

.info_inner { display: -webkit-box; display: -ms-flexbox; display: flex; }

.info_inner article { padding: 10px; width: 50%; }

.info_sub img { margin-right: 4px; width: 16px; }

.info-real { padding: 8px 0 0 8px; font-size: 14px; }

.info-maker { padding: 8px 0 0 8px; font-size: 16px; display: block; font-weight: 700; }

.tab-area { padding-top: 20px; }

.probability, .card_img img, .main-content-img-area img, .result-img img, .award_detail img, .result-card-left img { width: 100%; }

.content-container { padding: 20px 16px; }

.main-content-text { padding: 10px; line-height: 22px; }

.award { -webkit-box-shadow: 0px 0px 4px 2px rgba(233, 233, 233, 0.75); box-shadow: 0px 0px 4px 2px rgba(233, 233, 233, 0.75); margin-bottom: 10px; }

.award_h6 { padding: 10px; background-color: #E9E9E9; font-size: 18px; color: #7D7D7D; }

.award_detail, .award p { padding: 10px; }

.award_text { padding: 0 10px 10px 10px; }

.probability th { padding: 8px; font-size: 14px; }

.probability td { padding: 8px; font-size: 14px; }

.table_area { padding-top: 20px; }

.probability-title { color: #FAFAFA; display: block; font-size: 16px; padding: 10px; width: 100%; background: #232323; font-weight: 400; }

.probability td, .probability th { border: solid 1px #C4C4C4; border-collapse: collapse; }

.probability { background: #FAFAFA; }

.probability-text { padding-top: 8px; font-size: 10px; }

img.favorite_icon2_img { width: 30px; }

#float_area { position: relative; background: #FAFAFA; position: fixed; bottom: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; padding: 10px 30px; }

.float_area_heart { width: 20%; }

.float_area_a { width: 80%; text-align: center; display: block; padding: 12px 70px; border-radius: 4px; font-size: 18px; color: #FAFAFA; margin: 0 auto; background: #7D7D7D; }

a.float_area_a { text-align: center; }

.gacha_button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.gacha_one { width: 40%; background: #fff; border-radius: 4px; padding: 10px; font-weight: 300; font-size: 12px; text-align: center; }

.gacha_one_span { text-align: center; display: block; font-size: 20px; font-weight: bold; }

.withheart { position: relative; }

.gacha_heart { position: absolute; top: -20px; right: -20px; }

.lp_button p { display: block; text-align: center; margin: 30px 0 2px; }

.havelp { font-weight: bold; font-size: 18px; }

#btn-3 { display: block; background: #C4C4C4; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 0px auto 0; font-size: 16px; padding: 14px; }

.result-inner { padding: 30px; }

.gacha-title { margin: 10px 0 6px; font-weight: bold; }

.result-card { padding: 10px; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.result-card-left, .result-card-right { width: 48%; }

.award-title { margin-bottom: 10px; font-size: 14px; }

.award-text { margin-bottom: 10px; font-size: 12px; }

.button_area { text-align: center; display: block; width: 48%; font-size: 18px; padding: 16px; border-radius: 4px; background-color: #232323; color: #FAFAFA; }

#retry { background-color: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; bottom: 0; position: fixed; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px 30px; width: 100%; }

.floatbutton { padding: 0px 30px; width: 100%; bottom: 140px; position: fixed; }

.topscrollbutton { position: absolute; width: 72px; right: 30px; }

.questionbutton { width: 40px; position: absolute; }

.bold-font { font-weight: bold; }

.main_in { padding: 10px 10px 8px 10px; }

.main_in_article { display: -webkit-box; display: -ms-flexbox; display: flex; }

.main_in_article_2 { width: 50%; }

.main_in_article_2 img, .main_in_article_1 img { width: 14px; margin: 0 4px 2px 0; }

.main_in_article_2 p, .main_in_article_1 p { color: #7D7D7D; font-size: 12px; line-height: 18px; }

.main_in_article_2 a, .main_in_article_2 h6, .main_in_article_1 a, .main_in_article_1 h6 { font-size: 16px; line-height: 20px; margin: 2px 0 12px 12px; }

.main_in_article_1 h5 { font-size: 22px; line-height: 26px; margin: 2px 0 12px 12px; }

.main_in_article_1 { width: 100%; }

.content-container { padding: 20px 16px; }

.history { width: 100%; border: 1px #C4C4C4; }

.history-title { color: #FAFAFA; padding: 10px; font-size: 14px; }

.history-title img { width: 18px; margin-right: 4px; }

th { font-weight: normal; }

.history-td { padding: 8px 10px; border: 1px solid #C4C4C4; vertical-align: middle; }

.history-th { font-size: 14px; text-align: center; }

.h-left, .h-center { font-size: 12px; width: 25%; }

.h-left { text-align: right; }

.h-right { width: 50%; }

.float-area { background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); }

.button-area { width: 80%; }

img.favorite_icon2_img { width: 30px; }

.float_area_heart { width: 20%; }

.warning_p { font-size: 12px; text-align: center; }

.auch_span { text-align: center; font-size: 20px; margin: 0 4px; font-weight: bold; }

.price_form { text-align: center; }

.price_input { text-align: right; padding: 10px 20px; font-size: 24px; width: 60%; margin: 6px 0; background: #FAFAFA; }

.twobutton { position: fixed; bottom: 0; padding: 10px 0; }

.main-top-card { -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin: 10px 10px 20px; padding: 10px 10px 10px; }

.main-top-card-title { padding: 10px 0; font-size: 16px; border-bottom: 1px solid #C4C4C4; }

.main_in_article_2 h6 { font-size: 16px; line-height: 20px; margin: 2px 0 12px 12px; }

.sienkingaku { padding-top: 6px; font-size: 22px; font-weight: bold; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.supportbutton { padding: 13px; width: 60%; margin: 0 auto; }

.content-container { padding: 20px 16px; }

.tab { width: 24.5%; }

.content { padding: 10px 10px 0; -webkit-box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.main-content1-text { margin: 0px 0  20px; }

.main-content-img-area img { width: 100%; display: block; margin: 0 auto; margin-bottom: 20px; }

.main-content1-subtitle { padding-bottom: 2px; border-bottom: 1px solid #C4C4C4; font-size: 16px; margin-bottom: 8px; font-weight: 700; }

.return_index img { margin-right: 4px; width: 18px; }

.return_index { font-size: 16px; font-weight: bold; margin-bottom: 8px; }

.content1-card { background: #fff; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); padding: 10px 20px; margin-bottom: 10px; }

.content-card-subtitle { padding-top: 10px; }

.content-card-text { margin-bottom: 10px; }

.card-img-area img { width: 100%; }

.choice-button { border-radius: 4px; height: 44px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #7D7D7D; background: #E9E9E9; margin-bottom: 10px; }

.target-area { color: #7D7D7D; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.target-area img { margin: 0 8px 4px 0; width: 24px; }

.target-area-span { margin-left: 8px; }

.user-name-area { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 10px; }

.user-icon-area { border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 7px; width: 25px; height: 25px; }

.user-icon-area > img { width: 100%; }

.user-name { font-weight: bold; color: #7D7D7D; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; }

.content1-date, .content1-card-date { text-align: right; color: #7D7D7D; }

.content4-card { -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); padding: 10px 10px; margin-bottom: 10px; }

.content1-card-title { padding: 10px; color: #7D7D7D; }

.content1-card-text { padding: 10px; margin-bottom: 10px; }

.content1-card-text p { padding-top: 10px; }
