@import "color.scss";
  textarea {
  
    background: $whitewhite;
    padding: 10px;
    width: 100%;
  }
  ::placeholder {
    font-size: 16px;
  line-height: 16px;
  color: $gray;
  }
  .button1{
    background:$gray;
    border-radius: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    background:$black;
    color: $white;
    border-radius: 4px;
    // display: block;
    // display: flex;
    // justify-content: center;
    align-items: center;
  }
  .overlay {
    background:#232323cb;
    position:absolute;
    position:fixed;
    top:0 ;
    right:0;
    width:100%;
    height:120%;
    z-index: 100;
  }
  .overlay-over{
    height: 80%;
    position: relative;
    margin:60px 16px 60px;
  }
  .modal_fix {
    position: fixed;
    overflow-y: auto;
  }
  .cancel-btn {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 110;
    cursor: pointer;
    width:72px;
    height:70px;
  }
  .x {
    position: absolute;
    top: 20px;
    right: 10px;
    width:32px;
    height:2px;
    background:$black;
    text-align:center;
  }
  
  .x_1 {
    top:16px;
    transform:translateY(10px) rotate(-45deg);
  }
  .x_2 {
    top:36px;
    transform:translateY(-10px) rotate(45deg);
  }
  .overlay-overmain {
    overflow: scroll;
    color:$black;
  background:$whitegray;
    padding:30px 20px;
    margin:0 auto;
  }
  #btn-2 ,.btn-2{
    display: block;
    background: $black;
    width: 195px;
    z-index: 100;
    color: $white;
    border-radius: 4px;
    line-height: center;
    text-align: center;
    margin: 30px auto 0;
    font-size: 16px;
    padding: 14px;
  
  }
  .modal_title {
    width: 80%;
    color: $black;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
  }
  .modal_title  span{
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 4px 0 0 0;
  }
  .main-area{
    padding: 10px 16px;
  }
  
  // ひとつボタン
  .onebutton {
    width: 100%;
    margin: 30px 0;
  }
  .onebutton_a {
    width: 60%;
    background: $black;
    color: $white;
    display: block;
    padding: 14px 0;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
  }

body{
    background:$white;
  }
  .card{
    box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25);
    margin:10px 16px 60px;
    padding: 20px;
    background:$whitewhite;
  }
  
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .card-content{
    border-bottom: 1px solid $grayblack;
    margin-bottom: 16px;
  }
  
  .sub-title{
    margin-bottom: 2px;
    color: #7D7D7D;
    font-size: 12px;
    line-height: 16px;
  }
  
  .sub-text{
    margin:0 0 6px 0;
    line-height: 20px;
    font-weight: 400;
  }
  
  .btn-area{
    margin: 30px 0 24px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    width: 49%;
    padding :13px;
    text-align: center;
    border-radius: 4px;
  }
  .sub-input {
    width: 100%;
    height: 34px;
    padding: 0 8px;
    margin-bottom: 16px;
    background:$white;
  }
  h6.sub-text {
    margin-bottom: 16px;
  }
  .questionseslect {
    width: 50%;
    height: 34px;
    padding: 0 8px;
    margin-bottom: 16px;
    background:$white;
  }
  span.modal_title_span2 {
    font-size: 11px;
    margin-top: 4px;
  }
  


.card{
    margin:20px 16px;
    box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25);
    padding: 20px;
    background: $whitewhite;
}

.card-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
}

.card-content-box{
    margin: 16px 0 0;
}

.sub-title{
    font-size: 12px;
    color: $gray;
    margin-bottom: 2px;
}

.check-area{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
}

.checkbox-text{
    color: $grayblack;
    font-size: 10px;
}
.checkbox-text_2{
    font-size: 10px;
}

.card-btn{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 42px;
    border-radius: 4px;
    color: $grayblack;
    text-align: center;
}
.user_inquery_preview_button{
    display: block;
    margin: 0 auto;
    background: $black;
    width: 60%;
    height: 42px;
    border-radius: 4px;
    color:$white;
    text-align: center;
}

/* lpbuy*/

.lp-amount-select{
    border: 1px solid $gray;
    width: 50%;
    margin-right: 8px;
    padding: 10px;
    font-weight: 700;
}

.radio-input{
    width: 49%;
    border: 1px solid $gray;
    border-radius: 4px;
    background: $white;
    padding: 9px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
}

.radio-input label{
    padding-left: 10px;
}

.ctext{
    border: 1px solid $gray;
    width: 100%;
    padding-left: 8px;
    height: 34px;
    font-size: 12px;
}

.input-error{
    color: #FF0000;
    font-size: 12px;
    line-height: 16px;
}

.under-line{
    text-decoration: underline;
    font-size: 12px;
    padding-right: 4px;
}

.check-error{
    color: #FF0000;
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
}

.attention-area{
    margin: 60px 0 20px 0;
}

.attention-area *{
    color: $grayblack;
    font-size: 12px;
}

select {
    background-image: url("../../img/arrowdown.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 14px;
  }


.checkbox {
    display: inline-block;
}

// お問い合わせ
.kind-select-area{
    position:relative;
    width: 60%;
}

.kind-select{
    border: 1px solid $gray;
    width: 100%;
    padding: 10px;
    color: $grayblack;
    // background: $whitewhite;
}

.inquiry-text{
    border: 1px solid $gray;
    height: 200px;
    width: 100%;
    resize: none;
}
.button-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user_inquery_preview_title {
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.user_inquery_sub-text{
    margin:0 0 6px 0;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}
.user_inquery_member_confirm_link{
    font-size: 14px;
    border-bottom: 1px solid $black;
}