@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

.foot_list { color: #FAFAFA; padding: 30px; }

.foot_list_ul li { padding: 0 0 16px 0; }

.footer_copyright { color: #FAFAFA; font-weight: 100; font-size: 12px; text-align: center; padding-bottom: 30px; }
