@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

header { z-index: 9; width: 100%; position: fixed; background: #FAFAFA; padding: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header-left img { vertical-align: center; height: 44px; }

.header-right { display: -webkit-box; display: -ms-flexbox; display: flex; }

#hamburger_menu { padding-left: 20px; }

.hbtn { position: fixed; top: 0; right: 0; width: 80px; height: 72px; cursor: pointer; z-index: 50; }

.line { position: absolute; top: 0; right: 20px; width: 32px; height: 2px; background: #232323; text-align: center; }

.line_01 { top: -16px; }

.line_03 { top: -36px; }

.btn_01 { -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); top: 16px; }

.btn_03 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.menu { position: fixed; top: 0; right: 0; padding: 30px 46px; background: #E9E9E9; }

p.menu_user { position: relative; top: -16px; width: 124px; }

.menu ul { padding: 0; margin: 0; }

.menu li { border-bottom: 1px solid #7D7D7D; padding: 16px 0 8px 0; }

.menu a { text-decoration: none; color: #232323; }

.sns { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 16px; }

.sns img { width: 28px; }

.panlist ul { margin: 0; padding: 0; background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: scroll; width: 100%; padding: 0 10px 0px; }

.panlist { background: #FAFAFA; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 48px 16px 0 16px; }

.panlist a { font-weight: bold; display: inline-block; padding: 8px 8px 8px 8px; }

.panlist p { display: inline-block; padding: 8px 8px 8px 8px; }

.panlist li { font-size: 14px; position: relative; display: inline-block; padding-left: 20px; color: #7D7D7D; text-decoration: none; padding: 8px 8px 0 8px; word-break: keep-all; white-space: nowrap; }

.panlist li:first-child { padding-left: 0px; }

.panlist li:before { content: ''; width: 6px; height: 6px; border: 0; border-top: solid 2px #7D7D7D; border-right: solid 2px #7D7D7D; position: absolute; top: 60%; left: 0; margin-top: -4px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.panlist li:first-child::before { display: none; }

.info-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 12px 10px; }

.info-attention { color: #fff; padding: 0 20px; }

.calender_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px 0; }

.calender_link_pre { line-height: 18px; font-size: 14px; }

.calender_link_pre_img { width: 22px; padding: 0 2px; }

.schedule_article { margin: 0 0px 10px; padding: 10px; border-radius: 4px; background: #FAFAFA; }

a.schedule_article_a { display: inline-block; font-size: 14px; margin: 0 0 0 16px; width: 80%; }

.schedule_article ul { margin: 6px 0 0; }

.schedule_articl_li { margin-top: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#schedule { padding: 20px 16px; }

.calender_title { font-size: 16px; text-align: center; }

.calendar { width: 100%; margin-bottom: 10px; table-layout: fixed; border: 1px solid #C4C4C4; }

.calendar * { font-size: 12px; }

th { padding: 6px; height: 26px; text-align: center; }

td { height: 93px; padding: 6px 0; text-align: center; }

.schedule { font-size: 9px; text-decoration: underline; margin-bottom: 9px; white-space: nowrap; text-align: center; }

.schedule-b { color: #1B9BEF; }

th, td { border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4; }

.today { background-color: #E9E9E9; -webkit-box-shadow: 0px 0px 6px rgba(35, 35, 35, 0.24); box-shadow: 0px 0px 6px rgba(35, 35, 35, 0.24); }

.sat { color: #4B73FF; }

.sun { color: #FF4545; }

.td-ex-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin: 10px 0 4px; }

.ex-margin { margin-right: 8px; }

input[type=checkbox] { display: none; }

.calender_ckeckbox { padding: 8px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.checkbox01 { font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; padding: 0px 0px 0px 25px; position: relative; width: auto; }

.checkbox01::before { background: #fff; border: 1px solid #232323; content: ''; display: block; height: 16px; left: 5px; margin-top: -8px; position: absolute; top: 50%; width: 16px; }

.checkbox01::after { border-right: 3px solid #232323; border-bottom: 3px solid #232323; content: ''; display: block; height: 14px; left: 10px; margin-top: -7px; opacity: 0; position: absolute; top: 50%; -webkit-transform: rotate(45deg); transform: rotate(45deg); width: 5px; }

input[type=checkbox]:checked + .checkbox01::after { opacity: 1; }

.modal_schedule_detail { width: 100%; color: #232323; margin: 8px auto; line-height: 18px; font-size: 12px; }

.modal_schedule_detail_a { text-align: right; text-decoration: underline; }

.container-flex-area { padding: 0 16px 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.btn-container { text-align: center; padding: 8px 0; width: 32%; margin-bottom: 10px; }

.container-half { width: 49%; padding: 8px; height: 63px; }

.container-title { font-size: 16px; text-align: center; font-weight: 400; margin-bottom: 3px; }

.move-btn { width: 90%; margin: 0 auto; font-size: 14px; border-radius: 4px; }

.nonmember_button .twobutton { position: fixed; z-index: 5; bottom: 0; padding: 10px 0; }

.header_nonmenber_button { width: 100%; background: #C4C4C4; padding: 12px 0; text-align: center; display: block; border-radius: 4px; margin: 10px 0 0 0; }
