@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

body { background: #FAFAFA; }

.alert_text_red { font-size: 10px; padding: 2px 0; color: #FF4040; }

.card { margin: 20px 16px; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); }

.card_content { padding: 30px 20px; }

.card_info_index { margin: 0 0 60px 0; }

.two_inputs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.card_info_one { margin: 16px 0 0; }

.card-title { font-weight: 700; font-size: 16px; line-height: 21px; text-align: center; margin: 0px 0 30px; }

.sub-title { display: block; font-size: 12px; color: #C4C4C4; margin: 0px 0 2px; }

.check-area { text-align: center; margin-top: 30px; margin-bottom: 6px; }

.checkbox-text { color: #7D7D7D; font-size: 10px; }

.checkbox-text_2 { font-size: 10px; }

.card-btn { display: block; margin: 0 auto; width: 60%; height: 42px; border-radius: 4px; color: #7D7D7D; text-align: center; }

.card_info_one_select { border: 1px solid #C4C4C4; width: 50%; margin-right: 8px; padding: 10px; }

.memo-text { border: 1px solid #C4C4C4; height: 100px; width: 100%; resize: none; padding: 10px; }

.delitext, .delitext_full, .delitext_threequo { border: 1px solid #C4C4C4; padding: 10px; width: 50%; margin: 0 8px 0 0; }

.delitext_full { width: 100%; }

.delitext_threequo { width: 75%; }

.delitext_full { width: 100%; }

.onequo { width: 30%; }

.sub_delitext { display: inline-block; margin: 0 0 0  12px; }

.img-input-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.img-input-label { width: 49%; padding: 20px; border: 1px solid #C4C4C4; text-align: center; }

.img-input-area p { text-align: center; font-size: 14px; }

input[type="file"] { display: none; }

.img-roaded-area { width: 48%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.img-roaded-area img { width: 49%; aspect-ratio: 16/9; margin-bottom: 10px; }

.img-roaded-area img:last-child { margin-bottom: 0; }

.answer_text { font-size: 14px; padding: 0 0 6px 8px; border-bottom: 1px solid #C4C4C4; }

.selectonpreview { display: none; }

.img_regist { position: relative; margin: 0px auto; width: 100%; }

.img_regist label { position: absolute; background-color: #fff; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 8px; }

.img_preview img { width: 100%; }

#preview1, #preview2, #preview3 { aspect-ratio: 16 / 9; text-align: center; width: 100%; display: block; margin: 0 auto; background-image: url(../../img/demoimg.png); }

.text_layout_6 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.text_layout_6 li { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 18px; font-size: 14px; background: #C4C4C4; border-radius: 4px; margin: 0 4px 6px 0; }

.checkbox_s [type="checkbox"] { display: none; }

.checkbox_s { font-size: 12px; line-height: 18px; }

.answer_text_h5 { background: #E9E9E9; font-size: 18px; padding: 3px 8px; display: block; margin: 0 0 6px 0; }

.answer_text_p { padding: 4px 8px; }

.answer_text_img { width: 100%; padding: 8px; }

.banner_select_index { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 10px; }

.banner_img { width: 100%; }

.banner_option { width: 48%; }

.banner_select { padding: 8px 0 4px; line-height: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.banner_select p { font-size: 12px; }

.banner_select input { margin-right: 4px; }

.banner_calender_p { content: ""; width: 100%; height: 20px; vertical-align: middle; background: #7D7D7D; padding: 2px 4px; color: #FAFAFA; }

.corporation_name { font-size: 16px; }

.corporation_name span { font-size: 12px; color: #7D7D7D; margin-left: 16px; }

.Present_name { font-size: 10px; line-height: 14px; text-align: right; color: #7D7D7D; }

.corporation_amount h2 { font-size: 20px; border-bottom: 1px solid #232323; display: inline-block; }

.corporation_amount p { font-size: 12px; margin: 4px 0 0 0; }

.edit::-webkit-input-placeholder { color: #232323; }

.edit:-ms-input-placeholder { color: #232323; }

.edit::-ms-input-placeholder { color: #232323; }

.edit::placeholder { color: #232323; }

.receipt_table_header { white-space: pre; position: -webkit-sticky; /* position: sticky; */ background: #FAFAFA; font-size: 12px; /* top: 42px; */ /* left: 0; */ }

.receipt_table { background: #fff; width: 100%; min-width: 800px; border-collapse: collapse; table-layout: fixed; }

.receipt_table_tr { text-align: left; }

.receipt_table_summury { text-align: right; }

.user_authorization_card { margin: 10px 16px 60px; }

.user_authorization_button { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }
