@import "concomponent.scss";
.bold-font  {
  font-weight: bold;
}
.draft_icon {
  width: 12px;
  margin-left: 8px;
}
.draft_icon {
  width: 12px;
  margin-left: 8px;
}

.content2{
  margin: 10px 10px 0;
}
.content3{
  margin: 10px 16px 0;
}

.main-area{
  padding: 10px 16px;
}

.title{
  font-weight: 700;
  font-size: 16px;
  position: relative;
  display:block; 
  text-align: center;
  padding: 20px 0 ;
}
.create-btn {
  position: absolute;
  right: 16px;
  padding: 8px 7px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.create-btn img {
  width:23px;
}


.table-title-area{
    width: 100%;
  padding: 8px 10px;
  position: sticky;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-title{
  font-size: 14px;
  font-weight: 400;
  color: $white;
}
.hyou-top {
  width:100%;
  height:460px;
  overflow:scroll;
}
.table {
  background:$whitewhite;
  width:100%;
  min-width: 400px;
  border-collapse: collapse;
  table-layout: fixed;
}
// .table2 {
//   @extend .table;
//   min-width: 680px;
// }
th,td {
    font-weight: normal;
  padding:8px;
  vertical-align: middle;
  border:1px solid $grayblack;
  text-align: center;
  white-space:initial;
}
.usersendinfo {
  border-radius: 4px;
  width: 100%;
  display: block;
  background: $black;
  padding: 8px 16px;
  margin: 8px auto 0;
  color: $white;
  text-align: center;
}
.table_40 {
  width: 40px;
}
.table_80 {
  width: 80px;
}
.table_120 {
  width: 120px;
}
.table_160 {
  width: 160px;
}
.table_header {
  white-space: pre;
  position: sticky;
  font-size: 12px;
  background: $whitewhite;
  top:44px;
  left: 0;
}


.order{
  background-image: url("../../img/arrowdown.png");
  background-repeat: no-repeat;
  background-size:14px;
  background-position: right;
  border-radius: 4px;
  width: 30%;
  padding: 6px 10px;
  font-size: 14px;
}
.td-img{
  width:  100%;
}

.table-btn{
  font-size: 14px;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  width:100%;
  background: $gray;
}
.table_center {
  text-align: center;
}
.btn-title{
  font-size: 12px;
  color: $grayblack;
  margin: 16px 0 10px;
}


.content-btn-area{
  display: flex;
  justify-content: space-between;
}

.content-btn{
  border-radius: 4px;
  padding: 14px 18px;
  font-size: 12px;
  font-weight: 400;
}
.modal_section {
  color:$black;
}
.modal_title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
}
.subtitle{
  font-size: 10px;
  line-height: 18px;
  color: $grayblack;
  vertical-align: middle;
}
.modal_colum {
  align-items: center;
  display: flex;
}
.modal_colum_2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.modal_colum_div {
  width: 50%;
}
.modal_colum_div a{
  color: $white;
  background-color: $grayblack;
  text-align: center;
  border-radius: 4px;
  padding: 10px 34px;
  
}
.modal_colum_2_a a{
  padding: 6px 24PX;
  border-radius: 4PX;
  background-color: $white;
}
.modal_p {
  padding-bottom: 16px;
}
.modal_textarea {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.modal_p_last {
  padding-bottom: 30px;
}
.modal_colum_img {
  display: flex;
  justify-content: space-around;
}
.modal_colum_img img{
  width: 40%;
}

.modal_button a{
  background: $gray;
  text-align: center;
  margin:  0 0 16px auto;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  display: block;
}

// 入札履歴
.history {
  width: 100%;
  table-layout: auto;
  background:$white;
}
.history a {
  padding: 4px 26px;
  text-align: center;
  background: $black;
  border-radius: 4px;
  color: $white;
}
.patoron_name {
  white-space: pre-wrap;
  font-size: 12px;
}
.patoron_name a {
  padding: 8px 6px;
  background: $black;
  border-radius: 4px;
  color: $white;

}
.history td {
  width: 24%;
}
.history th {
  font-size: 14px;
}


// ガチャ景品一覧
.td-float{
  /* position: relative; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.kaiten {
  transform:rotateX(180deg);
}
.mailinfo {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.usersendinfolist {
  // margin: 8px 0 0px;
  padding: 8px 24px;
  background-color: $gray;
  color: $black;
  border-radius: 4px;
  text-align: center;
}

.listowner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border: 1px solid $gray;
}
.td-count-inner{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

// LP購入者ページ
.lp_present {
  width: 80%;
  margin: 0 auto;
}
.lp_present_span {
  display: block;
  text-align: center;
  margin: 16px 0;
}
.price_input {
  text-align: right;
  padding:10px 20px;
  font-size: 24px;
  width: 60%;
  margin:6px 0;
  background:$white;
}

// ダミーアカウントの支援するモーダル
select.support_select {
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 16px;
  color: $black;
}



.omake-table-close::after{
  content: "";
  position: absolute;
  top: 4px;
  right: 10px;
  background-image: url(../../img/arrowup-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.omake-add{
  padding: 6px 26px 6px 0;
}

.omake-add-checkbox{
  width: 16px;
}

.omake-add-label{
  font-size: 12px;
}

.omake-add-btn{
  font-size: 12px;
  padding: 6px 18px;
  color: $white;
  border-radius: 4px;
}

.omake-all-add{
  padding: 10px 26px 10px 0;
  display: flex;
  align-items: center;
}

.omake-add-all-label{
  color: $white;
  font-size: 12px;
  display: block;
  width: 65%;
  margin-right: 12px;
}

.omake-add-all-btn{
  font-size: 12px;
  padding: 3px 17px;
  border-radius: 4px;
}

.selectonpreview {
  display: none;
}
.imgregist{
  position: relative;
  margin:0px auto;
  width: 100%;
}
.imgregist label {
  position: absolute;
  background-color: #fff;
  top: 42%;
  right: 30%;
  padding: 8px;
}
.imgpreview img {
  width: 100%;
}
#preview{
  text-align: center;
  width: 320px;
  display: block;
  height: 180px;
  margin: 0 auto;
  background-image: url(../../img/demoimg.png);
}

// ニュースエリア(マスター)

.check_delete_button {
  padding: 8px 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}