@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

body { background: #FAFAFA; }

.img-input-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.imt-input-icon { display: block; }

.img-input { width: 49%; text-align: center; padding: 23px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 1px solid #C4C4C4; }

input[type="file"] { display: none; }

.inputted-img-area { width: 49%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.inputted-img { width: 49%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; margin-bottom: 11px; }

.inputted-last { margin: 0; }

.memo-text { border: 1px solid #C4C4C4; height: 100px; width: 100%; resize: none; padding: 10px; font-size: 12px; }

.mailsend-text { border: 1px solid #C4C4C4; height: 180px; width: 100%; resize: none; padding: 10px; font-size: 12px; }

.delitext, .delitext_75 { border: 1px solid #C4C4C4; padding: 10px; width: 50%; margin: 0 8px 0 0; }

.delitext_75 { width: 75%; }

.priplaceholder { font-size: 14px; border-radius: 4px; border: 1px solid #C4C4C4; padding: 6px 8px; margin: 0 6px 4px 0px; display: inline-block; }
