@import "../../user/css/color.scss";

.contributor_project_first {
        padding:10px 16px 60px;
}
.contributor_project_first_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.sub-title {
    font-size: 12px;
    color: $grayblack;
    margin:16px 0 2px 0;
}
.contributor_project_first_content_button_area {
    display:flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.contributor_project_first_content_button {
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color:$gray;
}
.contributor_project_first_content_description {
    border: 1px solid $gray;
    width: 100%;
    resize: none;
    padding: 10px;
    background: $whitewhite;
    height: 320px;
}
.twobutton {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .twobutton_a {
    cursor: pointer;
      width: 45%;
      background: $black;
      display: block;
      padding: 14px 0;
      color: $white;
      border-radius: 4px;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0px 4px 4px rgba(196, 196,196,0.5)
  }