<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガチャ編集</title>
    <link rel="stylesheet" href="https://elements.laporno.fund/user/css/reset.css">
    <link rel="stylesheet" href="https://elements.laporno.fund/master/css/master_gacha_detail.css">
    <link rel="stylesheet" href="https://elements.laporno.fund/master/css/master_hyou.css">
    <link rel="stylesheet" href="https://elements.laporno.fund/user/css/user_gacha_detail.css">
    <link rel="stylesheet" href="https://elements.laporno.fund/contributor/css/contributor_gacha_new.css">
    <script src="https://elements.laporno.fund/user/js/vue.js" defer></script>
</head>
<body>
  <div id="app">
    <masheaders></masheaders>
  <div class="panlist">
    <ul>
      <li ><a href="../../master/html/master_top.html">TOP</a></li>
      <li ><a href="../../master/html/master_gacha_top.html">ガチャTOP</a></li>
      <li ><a href="../../master/html/master_gacha_detail.html">ガチャ詳細</a></li>
      <li class="arrow-l"><p>ガチャ編集</p></li>
    </ul>
    </div>
  <section class="main_card" id="auchimgedit">
    <!-- 記入フォーム -->
    <div>
        <div class="new_input">
            <p class="new_input_sub">紐付け先</p>
            <input type="text" list="gachalist" class="new_input_select_60" placeholder="ガチャの名前"/>
            <datalist id="gachalist">
                <option>ガチャ１</option>
                <option>ガチャ２</option>
                <option>ガチャ３</option>
            </datalist>
            <span class="new_input_select_span">に紐付ける</span>
        </div>
        <div class="new_input">
            <p class="new_input_sub">ガチャタイトル*</p>
            <input type="text" class="new_input_select_100" placeholder="ガチャタイトルがはいります"/>
            <span class="input_text_count">0/25</span>
        </div>
        <div class="new_input">
            <p class="new_input_sub">発送予定日*</p>
            <input type="date"  class="new_input_select_50"/>
            <span class="new_input_select_span">から順次発送予定</span>
        </div>
        <div class="new_input  img_three_tub">
            <input id="tab1" type="radio" name="tab_btn" >
            <input id="tab2" type="radio" name="tab_btn" checked>
            <input id="tab3" type="radio" name="tab_btn">
            <div class="tab_labels">
                <label class="tab1_label conbutton" for="tab1">テンプレ１</label>
                <label class="tab2_label conbutton" for="tab2">テンプレ２</label>
                <label class="tab3_label conbutton" for="tab3">テンプレ３  </label>
            </div>
            <div class="panel_area">
                <div id="panel1" class="tab_panel ">
                    <div class="imgregist">
                        <label>
                            <input type="file" accept="image/*" class="selectonpreview" onchange="previewImage(this);">写真を変更する
                        </label>
                        <p class="imgpreview">
                            <img id="preview1" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" >
                        </p>
                        
                    </div>
                </div>
                <div id="panel2" class="tab_panel ">
                    <div class="imgregist">
                        <label>
                            <input type="file" accept="image/*" class="selectonpreview" onchange="previewImage(this);">写真を変更する
                        </label>
                        <p class="imgpreview">
                            <img id="preview3" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" >
                        </p>
                        <h5 class="impreview_actname">{{ selectvalue }}</h5>
                    </div>
                    <div class="new_input">
                        <p class="new_input_sub">画像に挿入する文字</p>
                        <input type="text" class="new_input_select_100" placeholder="画像に挿入する文字がはいります"/>
                        <span class="input_text_count">0/25</span>
                    </div>
                    <div class="new_input new_input_two">
                        <div class="">
                            <p class="new_input_sub"><img src="../../img/time.png" alt="">使用するフォント</p>
                            <input type="text" class="new_input_select_90" v-model="selectvalue" list="fontlist" placeholder="明朝">
                        </div>
                    </div>
                    <div class="new_input" >
                        <p class="new_input_sub"><img src="../../img/time.png" alt="">文字色</p>
                        <div class="colors_index">
                            <div class="color" id="white_text"></div>
                            <div class="color" id="black_text"></div>
                            <div class="color" id="red_text"></div>
                            <div class="color" id="orange_text"></div>
                            <div class="color" id="yellow_text"></div>
                            <div class="color" id="green_text"></div>
                            <div class="color" id="water_text"></div>
                            <div class="color" id="blue_text"></div>
                            <div class="color" id="purple_text"></div>
                            <div class="color" id="pink_text"></div>
                        </div>
                    </div>
                </div>
                <div id="panel3" class="tab_panel ">
                    <div class="imgregist">
                        <div class="album">
                            <img class="main_img" src="../../img/demoimg2.png" alt="アルバム1" id="album1">
                            <div class="actress_name">
                                <h3>
                                    {{ selectvalue }}<span class="actress_name_span">Joyu Name</span>
                                </h3>
                            </div>
                            <img id="preview2" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="アルバム2" id="album2">
                        </div>
                    </div>
                    <div class="new_input">
                        <p class="new_input_sub">画像に挿入する文字</p>
                        <input type="text" class="new_input_select_100" placeholder="画像に挿入する文字がはいります"/>
                        <span class="input_text_count">0/25</span>
                    </div>
                    <div class="new_input new_input_two">
                        <div class="">
                            <p class="new_input_sub"><img src="../../img/time.png" alt="">使用するフォント</p>
                            <input type="text" class="new_input_select_90" v-model="selectvalue" list="fontlist" placeholder="明朝">
                        </div>
                    </div>
                    <div class="new_input" >
                        <div class="">
                            <p class="new_input_sub"><img src="../../img/time.png" alt="">文字色</p>
                            <div class="colors_index">
                                <div class="color" id="t3_white_text"></div>
                                <div class="color" id="t3_black_text"></div>
                                <div class="color" id="t3_red_text"></div>
                                <div class="color" id="t3_orange_text"></div>
                                <div class="color" id="t3_yellow_text"></div>
                                <div class="color" id="t3_green_text"></div>
                                <div class="color" id="t3_water_text"></div>
                                <div class="color" id="t3_blue_text"></div>
                                <div class="color" id="t3_purple_text"></div>
                                <div class="color" id="t3_pink_text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="new_input" >
                        <p class="new_input_sub"><img src="../../img/time.png" alt="">背景色</p>
                        <div class="colors_index">
                            <div class="color" id="white_back"></div>
                            <div class="color" id="black_back"></div>
                            <div class="color" id="red_back"></div>
                            <div class="color" id="orange_back"></div>
                            <div class="color" id="yellow_back"></div>
                            <div class="color" id="green_back"></div>
                            <div class="color" id="water_back"></div>
                            <div class="color" id="blue_back"></div>
                            <div class="color" id="purple_back"></div>
                            <div class="color" id="pink_back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_in">
            <div class="new_input">
                <p class="new_input_sub"><img src="../../img/lady.png" alt="">女優</p>
                <input type="text" v-model="selectvalue" list="actlist" class="new_input_select_100" placeholder="女優の名前"/>
                <datalist id="actlist">
                    <option>女優１</option>
                    <option>女優２</option>
                    <option>女優３</option>
                </datalist>
            </div>
            <!-- <div class="new_input">
                <p class="new_input_sub"><img src="../../img/pro.png" alt="">プロダクション</p>
                <input type="text" list="productionlist" class="new_input_select_60" placeholder="プロダクションの名前"/>
                <datalist id="productionlist">
                    <option>プロダクション１</option>
                    <option>プロダクション２</option>
                    <option>プロダクション３</option>
                </datalist>
            </div> -->
            <div class="new_input new_input_two">
                <div class="">
                    <p class="new_input_sub"><img src="../../img/time.png" alt="">開始</p>
                    <p class="new_answer_100" style="line-height: 40px;">2021/11/11 15時</p>
                </div>
                <div class="">
                    <p class="new_input_sub"><img src="../../img/time.png" alt="">終了</p>
                    <input type="text" class="new_input_select_90" placeholder="2021/05/11 12時">
                </div>
            </div>
            <!-- 使用LP（30%） -->
            <div class="new_input">
                <p class="new_input_sub"><img src="../../img/money.png" alt="">使用LP(1回分)*</p>
                <input type="text" class="new_input_select_30" placeholder="800"><span class="new_input_select_span">LP</span>
            </div>
            <!-- カウント方式（30%*3） -->
            <div class="new_input">
                <p class="new_input_sub">カウントについて*</p>
                <div class="new_input_check">

                    <label class="new_input_select_32" >
                        <input type="radio" checked name="how_count">
                        ダウン式
                    </label>
                    <label class="new_input_select_32" >
                        <input type="radio" name="how_count">
                        アップ式
                    </label>
                    <label class="new_input_select_32">
                        <input type="radio" name="how_count">
                        なし
                    </label>
                </div>
            </div>
            <!-- おまけの有無（48%*2） -->
            <div class="new_input">
                <p class="new_input_sub">10回回して1回おまけの有無*</p>
                <div class="new_input_send_nosb">
                    <label class="new_send_nosb">
                        <input name="omake" class="Radio-Input" type="radio" checked>
                        <span class="Radio-Text">有り</span>
                    </label>
                    <label class="new_send_nosb">
                        <input name="omake" class="Radio-Input" type="radio">
                        <span class="Radio-Text">無し</span>
                    </label>
                </div>
            </div>
            <!-- 回数ボーナスの有無 -->
            <div class="new_input">
                <p class="new_input_sub">回数ボーナスの有無*<img class="what_count_bonus" src="../../img/quesblack.png" alt=""></p>
                <div class="new_input_send_nosb">
                    <label class="new_send_nosb">
                        <input name="bonus" class="Radio-Input" type="radio" checked>
                        <span class="Radio-Text">有り</span>
                    </label>
                    <label class="new_send_nosb">
                        <input name="bonus" class="Radio-Input" type="radio">
                        <span class="Radio-Text">無し</span>
                    </label>
                </div>
            </div>

            <!-- タグ(任意) -->
            <!-- <div class="new_input">
                <p class="new_input_sub">タグ(任意)</p>
                <input type="text" v-model="selectvalue" list="taglist" class="new_input_select_100" placeholder="任意のタグ"/>
            </div> -->
            <!-- 回数ボーナス詳細(ここからボタンで増やせる) -->
            <div>
                <div class="new_input">
                    <p class="new_input_sub">回数ボーナス詳細</p>
                    <input type="text" class="new_input_select_30" placeholder="80"><span class="new_input_select_span">回</span>
                </div>
                <!-- ボーナス特典 -->
                <div class="new_input">
                    <p class="new_input_sub">ボーナス特典</p>
                    <input type="text" v-model="selectvalue" list="taglist" class="new_input_select_100" placeholder="ボーナスの特典"/>
                </div>
                <div class="new_input">
                    <p class="new_input_sub">タイプ</p>
                    <div class="new_input_check_nowrap">
                        <label class="new_input_select_24">
                            <input type="radio" checked name="count_bonus_type"> 
                            物販
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="count_bonus_type">
                            リアル
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="count_bonus_type">
                            デジタル
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="count_bonus_type">
                            その他
                        </label>
                    </div>
                </div>
            </div>
            <!-- ここまで”回数ボーナス詳細” -->
            <button  class="gacha_bonus_add"><img src="../../img/plus.png"> ボーナス追加</button>
            <!-- ストレッチボーナス詳細(ここからボタンで増やせる) -->
            <!-- ストレッチボーナスの有無 -->
            <div class="new_input">
                <p class="new_input_sub">ストレッチボーナスの有無*<img class="what_stretch_bonus" src="../../img/quesblack.png" alt=""></p>
                <div class="new_input_send_nosb">
                    <label class="new_send_nosb">
                        <input name="stretch_bonus" class="Radio-Input" type="radio" checked>
                        <span class="Radio-Text">有り</span>
                    </label>
                    <label class="new_send_nosb">
                        <input name="stretch_bonus" class="Radio-Input" type="radio">
                        <span class="Radio-Text">無し</span>
                    </label>
                </div>
            </div>
            <div>
                <div class="new_input">
                    <p class="new_input_sub">ストレッチボーナス詳細</p>
                    <input type="text" class="new_input_select_30" placeholder="80"><span class="new_input_select_span">回</span>
                </div>
                <!-- ストレッチボーナス特典 -->
                <div class="new_input">
                    <p class="new_input_sub">ストレッチボーナス特典</p>
                    <input type="text" v-model="selectvalue" list="taglist" class="new_input_select_100" placeholder="ストレッチボーナスの特典"/>
                </div>
                <div class="new_input">
                    <p class="new_input_sub">タイプ</p>
                    <div class="new_input_check_nowrap">
                        <label class="new_input_select_24">
                            <input type="radio" checked name="stretch_bonus_type"> 
                            物販
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="stretch_bonus_type">
                            リアル
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="stretch_bonus_type">
                            デジタル
                        </label>
                        <label class="new_input_select_24">
                            <input type="radio" name="stretch_bonus_type">
                            その他
                        </label>
                    </div>
                </div>
            </div>
            <!-- ここまで”ストレッチボーナス詳細” -->
            <button  class="gacha_bonus_add"><img src="../../img/plus.png"> ボーナス追加</button>
            <!-- 送料(元or着) -->
            <!-- <div class="new_input">
                <p class="new_input_sub">送料</p>
                <div class="new_input_send">
                    <label class="new_send">
                        <input name="radio" class="Radio-Input" type="radio" checked>
                        <span class="Radio-Text">元払い</span>
                    </label>
                    <label class="new_send">
                        <input name="radio" class="Radio-Input" type="radio">
                        <span class="Radio-Text">着払い</span>
                    </label>
                </div>
            </div>
            <div class="new_input">
                <p class="new_input_sub"><img src="../../img/money.png" alt="">送料</p>
                <input type="text" class="new_input_select_30" placeholder="800円"><span class="new_input_select_span">円</span>
            </div> -->
            <div class="onebutton">
                <a href="" class="onebutton_a">確認</a>
            </div>
        </div>
    </div>
</section>
<!-- <section class="main_card" >
  確認ボタンクリック後 
     <div>
        <div class="new_input">
            <p class="new_input_sub">紐付け先</p>
            <p class="new_answer_100">ガチャタイトル<span class="new_input_select_span_gray">に紐付ける</span></p>
        </div>
        <div class="new_input">
            <p class="new_input_sub">ガチャタイトル*</p>
            <p class="new_answer_100">ガチャタイトルガチャタイトルガチャタイトル</p>
        </div>
        <div class="new_input">
            <p class="new_input_sub">発送予定日</p>
            <p class="new_answer_100">2021/11/11<span class="new_input_select_span_gray">から順次発送予定</span></p>
        </div>
        <div class="new_input">
            <p class="imgpreview">
                <img id="preview_preview" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" >
            </p>
        </div>
        <div class="new_input new_input_two">
            <div class="">
                <p class="new_input_sub"><img src="../../img/time.png" alt="">開始</p>
                <p class="new_answer_100">2021/11/11 15時</p>
                </div>
            <div class="">
                <p class="new_input_sub"><img src="../../img/time.png" alt="">終了</p>
                <p class="new_answer_100">2021/11/21 15時</p>
            </div>
        </div>
        <div class="new_input">
            <p class="new_input_sub">１回LP</p>
            <p class="new_answer_100">800<span class="new_input_select_span_gray">LP</span></p>
        </div>
        <div class="new_input new_input_two">
            <div class="">
                <p class="new_input_sub">ラストワン賞</p>
                <p class="new_answer_100">有り</p>
            </div>
            <div class="">
                <p class="new_input_sub">カウントについて</p>
                <p class="new_answer_100">カウントアップ式</p>
            </div>
        </div>
        <div class="new_input">
            <p class="new_input_sub">10回回して1回おまけ</p>
            <p class="new_answer_100">有り</p>
        </div>
        <div class="new_input">
            <p class="new_input_sub">回数ボーナス</p>
            <p class="new_answer_100">100回回すとサイン付きチェキ</p>
            <p class="new_answer_100">1000回回すと名前入りサイン付きチェキ</p>
            <p class="new_answer_100">3000回回すとキスマーク付きチェキ</p>
        </div>
        <div class="new_input">
            <p class="new_input_sub">スクラッチボーナス</p>
            <p class="new_answer_100">10000回回すとサイン付きチェキ</p>
            <p class="new_answer_100">50000回回すとイベント開催</p>
        </div>
        <div class="onebutton">
            <a href="" class="onebutton_a">編集する</a>
        </div>
    </div>
 </section>  --> 
<!-- これはとりあえず保存 -->
    <div class="main-top color2" id="actprodtop">
      <div class="tab-area">
          <div class="tab color3 " @click="isSelect('1')" v-bind:class="{'active': isActiveTab === '1'}">内容</div>
          <div class="tab color3" @click="isSelect('2')" v-bind:class="{'active': isActiveTab === '2'}">景品一覧</div>
          <div class="tab color3" @click="isSelect('3')" v-bind:class="{'active': isActiveTab === '3'}">活動報告</div>
      </div>
      <!--内容-->
      <div class="content-container color1" v-if="isActiveTab === '1'">
        <div class="gacha_title_and_button">
          <h2 class="gacha_content_title">内容</h2>
          <a class="gacha_content_button" href="../../master/html/master_gacha_detail_edit_content.html">編集</a>
          </div>
          <div class="gacha_content_main">
          
          <h6 class="user_gacha_content_title">たいとるたいとる</h6>
          <p class="user_gacha_content_p">
              テキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <div class="main-content-img-area">
              <img src="../../img/demoimg.png" alt="">
          </div>
          <h6 class="user_gacha_content_title_border">たいとるたいとる</h6>
          <p class="user_gacha_content_p">
              テキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
      </div>
          <div class="table_area">
              <p class="probability-title"><img src="../../img/scale.png" alt="">確率</p>
              <table class="probability">
                  <tr>
                      <th>景品</th>
                      <th>確率</th>
                  </tr>
                  <tr>
                      <td>景品の名前</td>
                      <td>20%</td>
                  </tr>
                  <tr>
                      <td>景品の名前</td>
                      <td>20%</td>
                  </tr>
                  <tr>
                      <td>景品の名前</td>
                      <td>20%</td>
                  </tr>
              </table>
              <p class="probability-text">※ガチャが引き進められるほど確率は変動し、これに限りません</p>
          </div>
      </div>
      <!--景品一覧-->
      <div  class="content-container color1" v-else-if="isActiveTab === '2'">
          <div class="main-content-inner">
            <div class="hyou">
              <div class="hyou-top">
                <div class="table-title-area color5">
                  <h2 class="table-title">ガチャ一覧</h2>
                  <div class="table_sort">
                    <select name="order" id="" class="table_sort_select color1">
                    <option >新着中</option>
                    <option >登録順</option>
                    </select>
                  </div>
                </div>
                <table class="table gacha">
                  <tr class="table_header">
                    <th class="table_160">賞の名前A</th>
                    <th class="table_160">女優名</th>
                    <th class="table_60">合計数</th>
                    <th class="table_60">出数</th>
                    <th class="table_60">残数</th>
                  </tr>
                  <tr>
                    <td>賞の名前</td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <!-- </tr> -->
                  <tr>
                    <td>賞の名前B</td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td>賞の名前C</td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>女優の名前 </td>
                    <td class="text_right">10000</td>
                    <td class="text_right">1000</td>
                    <td class="text_right">99000</td>
                  </tr>
                </table>
              </div>
            </div>
            <article class="award">
              <h6 class="award_h6">賞の名前A</h6>
              <div class="award_detail">
                <img src="../../img/demoimg.png" alt="">
                <p class="award_text">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <div class="keihin-area">
                  <div class="keihin color3">
                    <p>女優の名前</p>
                    <p>typeA</p>
                    <p>10</p>
                  </div>
                  <div class="keihin color3">
                    <p>女優の名前</p>
                    <p>typeA</p>
                    <p>10</p>
                  </div>
                  <div class="keihin color3">
                    <p>女優の名前</p>
                    <p>typeA</p>
                    <p>10</p>
                  </div>
                </div>
                <a class="gacha_freebie_edit_button" href="../../master/html/master_gacha_edit_freebie.html">編集</a>
              </div>
              </article>
          </div>  
        </div>
      <!-- 活動報告一覧 -->
      <div class="content-container color1" v-else-if="isActiveTab === '3'">
          <div class="main-content-inner">
              <article class="gacha_active_report">
                  <span class="gacha_active_report_date">2021/01/03</span>
                  <p class="gacha_active_report_title color2">活動報告のタイトル</p>
                  <div class="gacha_active_report_content">
                      <div class="gacha_active_report_img">
                          <img src="../../img/demoimg.png" alt="">
                      </div>
                      <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <button class="gacha_active_show_button">
                        <select  name="" id="">
                            <option value="">公開</option>
                            <option value="">非公開</option>
                        </select>
                    </button>
              </article>
              <article class="gacha_active_report">
                  <span class="gacha_active_report_date">2021/01/03</span>
                  <p class="gacha_active_report_title color2">活動報告のタイトル</p>
                  <div class="gacha_active_report_content">
                      <div class="gacha_active_report_img">
                          <img src="../../img/demoimg.png" alt="">
                      </div>
                      <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <button class="gacha_active_show_button">
                        <select  name="" id="">
                            <option value="">公開</option>
                            <option value="">非公開</option>
                        </select>
                    </button>
              </article>
              <article class="gacha_active_report">
                  <span class="gacha_active_report_date">2021/01/03</span>
                  <p class="gacha_active_report_title color2">活動報告のタイトル</p>
                  <div class="gacha_active_report_content">
                      <div class="gacha_active_report_img">
                          <img src="../../img/demoimg.png" alt="">
                      </div>
                      <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <button class="gacha_active_show_button">
                        <select  name="" id="">
                            <option value="">公開</option>
                            <option value="">非公開</option>
                        </select>
                    </button>
              </article>
          </div>
      </div>  
    </div>
    <!-- 追従フッター -->
    <div id="float_area">
      <a class="twobutton_a" href="../../master/html/master_gacha_detail.html">戻る</a>
      <a class="twobutton_a" href="../../master/html/master_gacha_edit_preview.html">確認</a>
    </div>
</div>
  <script src="https://elements.laporno.fund/master/js/master_header_search.js" defer></script>
  <script >
    window.onload = function () {
new Vue ({
    el:"#app",
    data:{
      isActiveTab: "1",
    },
    methods: {
      isSelect(number) {
        this.isActiveTab = number;
      },
    }
});
}
  </script>
</body>
</html>