@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

body { background: #FAFAFA; }

.contributor_send_info { margin: 20px 16px; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); padding: 20px; background: #fff; }

.contributor_send_info_title { font-weight: 700; font-size: 16px; line-height: 21px; text-align: center; margin-bottom: 20px; }

.contributor_send_info_box { padding: 0 0 16px; }

.sub-title { font-size: 12px; color: #C4C4C4; margin-bottom: 2px; }

.img-input-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.imt-input-icon { display: block; }

.img-input { width: 49%; text-align: center; padding: 23px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 1px solid #C4C4C4; }

.img-input p { font-size: 10px; }

input[type="file"] { display: none; }

.inputted-img-area { width: 49%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.inputted-img { width: 49%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; margin-bottom: 11px; }

.inputted-last { margin: 0; }

.memo-text { border: 1px solid #C4C4C4; height: 100px; width: 100%; resize: none; padding: 10px; font-size: 12px; }

.mailsend-text { border: 1px solid #C4C4C4; height: 180px; width: 100%; resize: none; padding: 10px; font-size: 12px; }

.two_delitext { display: -webkit-box; display: -ms-flexbox; display: flex; }

.delitext { border: 1px solid #C4C4C4; padding: 10px; width: 50%; margin: 0 8px 0 0; }

.delitext_30 { border: 1px solid #C4C4C4; padding: 10px; margin: 0 8px 0 0; width: 30%; }

.delitext_60 { border: 1px solid #C4C4C4; padding: 10px; margin: 0 8px 0 0; width: 60%; }

.delitext_90 { border: 1px solid #C4C4C4; padding: 10px; width: 90%; margin: 0 8px 0 0; }

.delitext_100 { border: 1px solid #C4C4C4; padding: 10px; width: 100%; margin: 0 8px 0 0; }

.delitext_30_radio { border: 1px solid #C4C4C4; padding: 10px; margin: 0 8px 0 0; width: 30%; }

.two_delitext input[type="radio"] { display: inline-block; }

.two_delitext label { border: 1px solid #C4C4C4; padding: 10px; margin: 0 8px 0 0; width: 30%; }

.adress_search { width: 30%; text-align: center; background: #C4C4C4; border-radius: 4px; }

.add_info_button { padding: 10px; border-radius: 4px; cursor: pointer; text-align: center; background: #C4C4C4; margin: 0 0 0 auto; display: block; }

.add_info_button_img { width: 22px; margin: 0 6px 0 0; }

.priplaceholder { font-size: 14px; border-radius: 4px; border: 1px solid #C4C4C4; padding: 6px 8px; margin: 0 6px 4px 0px; display: inline-block; }

.button-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 10px; }

.contributor_send_postage_button { width: 49%; height: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #C4C4C4; opacity: 0.75; }

.active { background: #fff; border: 1px solid #c4c4c4; opacity: 1; }

.onebutton { width: 100%; margin: 30px 0; }

.onebutton_a { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }
