@import "../../user/css/color.scss" ;
body{
    background-color:$white;
}

.contributor_project_new_return_template_title {
    margin: 10px 16px 10px;
    position: relative;
}
.contributor_project_new_return_template_title_h2{
    font-size: 16px;
    padding: 8px 0 8px 8px;
    line-height: 26px;
    text-align:center;
    font-weight: bold;
}
.contributor_project_new_return_template_title_button {
    // display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
    padding: 10px 8px;
    font-size: 14px;
    background-color: $gray;
    border-radius: 4px;
}
.contributor_project_new_return_template_title_button_img {
    width: 22px;
    margin: 0 4px 0 0;
}
.contributor_project_new_return_template_main {
    padding: 16px;
}
.contributor_project_new_return_template_name {
    font-size:12px;
    color: $grayblack;
}
.contributor_project_new_return_template_name_select {
    padding: 12px 10px;
    margin: 0 0 10px 0;
     border: 1px solid $gray;
     width: 60%;
     background-image: url(../../img/tridown.png);
     background-repeat: no-repeat;
     background-size: 14px;
     background-position: right 16px center;
}

.twobutton {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}
.twobutton_a {
    width: 45%;
    color: $white;
    background:$black;
    display: block;
    padding: 10px 0;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
}