@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html { font-family: 'Roboto', sans-serif; }

html { color: #232323; }

.color0 { background-color: #fff; }

.color1 { background-color: #FAFAFA; }

.color2 { background-color: #E9E9E9; }

.color3 { background-color: #C4C4C4; }

.color4 { background-color: #7D7D7D; }

.color5 { background-color: #232323; }

.mtop_20 { margin-top: 20px; }

.search { background: #C4C4C4; padding: 6px 16px; }

.search form { height: 40px; padding-left: 8px; background-color: #fff; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.search input { width: 100%; text-align: left; padding-left: 8px; }

.search input::-webkit-input-placeholder { color: #C4C4C4; }

.search input:-ms-input-placeholder { color: #C4C4C4; }

.search input::-ms-input-placeholder { color: #C4C4C4; }

.search input::placeholder { color: #C4C4C4; }

.sub_search { position: relative; top: 0; left: 0; position: -webkit-sticky; position: sticky; }

.active { background: #fff; border-bottom: 1px solid #c4c4c4; }

.tabtwo_labels { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px 1px 0; background: #E9E9E9; -ms-flex-pack: distribute; justify-content: space-around; }

.twobutton { border-radius: 4px 4px 0 0; width: 49%; text-align: center; padding: 12px 2px; margin: 0; }

input[type="radio"] { display: none; }

.tabtwo_panel { display: none; background: #FAFAFA; padding: 20px 16px; }

.tabtwo1_label, .tabtwo2_label { background-color: #C4C4C4; }

#tabtwo1:checked ~ .tabtwo_labels .tabtwo1_label { border-bottom: 1px solid #C4C4C4; background: #FAFAFA; }

#tabtwo2:checked ~ .tabtwo_labels .tabtwo2_label { border-bottom: 1px solid #C4C4C4; background: #FAFAFA; }

#tabtwo1:checked ~ .paneltwo_area #paneltwo1 { display: block; }

#tabtwo2:checked ~ .paneltwo_area #paneltwo2 { display: block; }

.tab_labels { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px 16px 0; -ms-flex-pack: distribute; justify-content: space-around; }

.conbutton { width: 32%; text-align: center; padding: 12px 2px; margin: 0; }

input[type="radio"] { display: none; }

.tab_panel { display: none; }

.tab1_label, .tab2_label, .tab3_label, .tab4_label, .tab5_label, .tab6_label { background-color: #C4C4C4; }

#tab1:checked ~ .tab_labels .tab1_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab2:checked ~ .tab_labels .tab2_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab3:checked ~ .tab_labels .tab3_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab4:checked ~ .tab_labels .tab4_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab5:checked ~ .tab_labels .tab5_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab6:checked ~ .tab_labels .tab6_label { border: 1px solid #C4C4C4; background: #FAFAFA; }

#tab1:checked ~ .panel_area #panel1 { display: block; }

#tab2:checked ~ .panel_area #panel2 { display: block; }

#tab3:checked ~ .panel_area #panel3 { display: block; }

#tab4:checked ~ .panel_area #panel4 { display: block; }

#tab5:checked ~ .panel_area #panel5 { display: block; }

#tab6:checked ~ .panel_area #panel6 { display: block; }

.twobutton { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.twobutton_a { cursor: pointer; width: 45%; background: #232323; display: block; padding: 14px 0; color: #FAFAFA; border-radius: 4px; margin: 0 auto; text-align: center; -webkit-box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.5); box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.5); }

.twobutton_b { width: 48%; background: #C4C4C4; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }

textarea { background: #fff; padding: 10px; width: 100%; }

::-webkit-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

:-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

.button1 { background: #C4C4C4; border-radius: 4px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.button { background: #C4C4C4; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay { background: #232323cb; position: absolute; position: fixed; top: 0; right: 0; width: 100%; height: 120%; z-index: 100; }

.overlay-over { position: relative; margin: 60px 16px; }

.x { position: absolute; top: 20px; right: 10px; width: 32px; height: 2px; background: #232323; text-align: center; }

.x_1 { top: 16px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain, .overlay-overmain2 { overflow: scroll; color: #232323; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2 { display: block; background: #232323; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

#btn-2:disabled { opacity: 0.3; }

.btn-2 { display: block; background: #C4C4C4; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.edit::-webkit-input-placeholder { color: #232323; }

.edit:-ms-input-placeholder { color: #232323; }

.edit::-ms-input-placeholder { color: #232323; }

.edit::placeholder { color: #232323; }

.active { background: #FAFAFA; border-bottom: 1px solid #C4C4C4; }

.page-title { text-align: left; padding: 20px 16px 10px; }

.tab { width: 49%; height: 40px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content { padding: 0px 16px 20px; }

.tab-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.acts { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.favorite-icon { z-index: 0; position: absolute; bottom: 8px; right: 8px; }

.favorite-icon img { border-radius: 16px; background: #fff; width: 31px; }

a { display: block; }

.relative { position: relative; }

.compo_card { width: 49%; background: #fff; -webkit-box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25); margin-bottom: 10px; }

.compo_main_img { width: 100%; }

.info-inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 4px; font-size: 12px; line-height: 18px; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-inner img { width: 14px; margin-right: 5px; }

.heart_nyu { position: absolute; top: 0; right: 0; }

.heart_auch { position: absolute; top: 67%; right: 0px; }

.compo_card_hot_p { position: absolute; bottom: 8px; padding: 2px 8px; line-height: 14px; font-size: 12px; font-weight: bold; color: #FAFAFA; border-radius: 0px 4px 4px 0px; background: rgba(35, 35, 35, 0.5); }

.compo_card_hot_fire { width: 14px; }

.proj_card_title { font-size: 12px; line-height: 18px; margin: 0 0 6px 0; }

.proj_card_inner { text-align: left; padding: 8px; }

.info-2column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sienkingaku { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 8px 0 0 0; }

.sienkingaku-title { font-size: 10px; line-height: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.percent-area { padding: 4px 0px; }

.percent { border-radius: 2px; height: 4px; width: 100%; position: relative; }

.percent::before { content: ""; width: 100px; height: 4px; background-color: #232323; position: absolute; left: 0; top: 0; border-radius: 2px; }

.projsup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 4px; }

.supportbutton { padding: 7px; width: 75%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.sellbutton { padding: 7px; width: 100%; background: #C4C4C4; border-radius: 4px; text-align: center; }

.projsup_heart { position: relative; left: 38px; top: 8px; }

#btn-2:disabled { opacity: 0.3; }

textarea { background: #fff; padding: 10px; width: 100%; }

::-webkit-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

:-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::-ms-input-placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

::placeholder { font-size: 16px; line-height: 16px; color: #C4C4C4; }

.button1 { background: #C4C4C4; border-radius: 4px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.button { background: #C4C4C4; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay { background: #232323cb; position: absolute; position: fixed; top: 0; right: 0; width: 100%; height: 120%; z-index: 100; }

.overlay-over { height: 80%; position: relative; margin: 60px 16px 60px; }

.modal_fix { overflow: scroll; height: 80%; position: fixed; overflow-y: auto; }

.cancel-btn { position: absolute; top: 0; right: 0px; z-index: 110; cursor: pointer; width: 72px; height: 70px; }

.x { position: absolute; top: 20px; right: 10px; width: 32px; height: 2px; background: #232323; text-align: center; }

.x_1 { top: 16px; -webkit-transform: translateY(10px) rotate(-45deg); transform: translateY(10px) rotate(-45deg); }

.x_2 { top: 36px; -webkit-transform: translateY(-10px) rotate(45deg); transform: translateY(-10px) rotate(45deg); }

.overlay-overmain, .overlay-overmain2 { overflow: scroll; color: #232323; background: #E9E9E9; padding: 30px 20px; margin: 0 auto; }

#btn-2, .btn-2 { display: block; background: #232323; width: 195px; z-index: 100; color: #FAFAFA; border-radius: 4px; line-height: center; text-align: center; margin: 30px auto 0; font-size: 16px; padding: 14px; }

.modal_heart { margin: 0 auto; width: 50%; display: block; }

.main-area { padding: 10px 16px; }

.onebutton { width: 100%; margin: 30px 0; }

.onebutton_a { width: 60%; background: #232323; color: #FAFAFA; display: block; padding: 14px 0; border-radius: 4px; margin: 0 auto; text-align: center; }

.sample-swiper-cards { padding: 0 50px; }

.new_title { padding: 20px 16px 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.title img { width: 18px; margin-left: 4px; }

.new_procard { display: -webkit-box; overflow-x: scroll; width: 96%; margin: 0 0 0px 16px; gap: 10px; }

.pro_index { padding: 16px; display: -webkit-box; display: -ms-flexbox; display: flex; background: #FAFAFA; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.tab { width: 24.5%; height: 40px; border-radius: 4px 4px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btn-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.button2 { width: 142px; text-align: center; padding: 14px 0; border-radius: 4px; font-size: 16px; }

.draft_icon { width: 12px; margin-left: 8px; }

.draft_icon { width: 12px; margin-left: 8px; }

.content2 { margin: 10px 10px 0; }

.content3 { margin: 10px 16px 0; }

.main-area { padding: 10px 16px; }

.title { font-weight: 700; font-size: 16px; position: relative; display: block; text-align: center; padding: 20px 0; }

.create-btn { position: absolute; right: 16px; padding: 8px 7px; font-weight: 400; border-radius: 4px; font-size: 14px; text-align: center; top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 6px; }

.create-btn img { width: 23px; }

.table-title-area { width: 100%; padding: 8px 10px; position: -webkit-sticky; position: sticky; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.table-title { font-size: 14px; font-weight: 400; color: #FAFAFA; }

.hyou-top { width: 100%; height: 460px; overflow: scroll; }

.table { background: #fff; width: 100%; min-width: 400px; border-collapse: collapse; table-layout: fixed; }

th, td { font-weight: normal; padding: 8px; vertical-align: middle; border: 1px solid #7D7D7D; text-align: center; white-space: initial; }

.usersendinfo { border-radius: 4px; width: 100%; display: block; background: #232323; padding: 8px 16px; margin: 8px auto 0; color: #FAFAFA; text-align: center; }

.table_40 { width: 40px; }

.table_80 { width: 80px; }

.table_120 { width: 120px; }

.table_160 { width: 160px; }

.table_header { white-space: pre; position: -webkit-sticky; position: sticky; font-size: 12px; background: #fff; top: 44px; left: 0; }

.order { background-image: url("../../img/arrowdown.png"); background-repeat: no-repeat; background-size: 14px; background-position: right; border-radius: 4px; width: 30%; padding: 6px 10px; font-size: 14px; }

.td-img { width: 100%; }

.table-btn { font-size: 14px; border-radius: 4px; padding: 8px; text-align: center; width: 100%; background: #C4C4C4; }

.table_center { text-align: center; }

.btn-title { font-size: 12px; color: #7D7D7D; margin: 16px 0 10px; }

.content-btn-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.content-btn { border-radius: 4px; padding: 14px 18px; font-size: 12px; font-weight: 400; }

.modal_section { color: #232323; }

.modal_title { width: 80%; color: #232323; margin: 0 auto; text-align: center; font-size: 18px; padding-bottom: 30px; }

.modal_title span { display: block; text-align: center; font-size: 12px; margin: 4px 0 0 0; }

.subtitle { font-size: 10px; line-height: 18px; color: #7D7D7D; vertical-align: middle; }

.modal_colum { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; }

.modal_colum_2 { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.modal_colum_div { width: 50%; }

.modal_colum_div a { color: #FAFAFA; background-color: #7D7D7D; text-align: center; border-radius: 4px; padding: 10px 34px; }

.modal_colum_2_a a { padding: 6px 24PX; border-radius: 4PX; background-color: #FAFAFA; }

.modal_p { padding-bottom: 16px; }

.modal_textarea { padding-bottom: 16px; margin-bottom: 16px; }

.modal_p_last { padding-bottom: 30px; }

.modal_colum_img { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.modal_colum_img img { width: 40%; }

.modal_button a { background: #C4C4C4; text-align: center; margin: 0 0 16px auto; border-radius: 4px; padding: 10px; width: 50%; display: block; }
