@import "concomponent.scss" ;

.twobutton {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}
.twobutton_a {
    width: 40%;
    color: $black;
    background: $white;
    display: block;
    padding: 10px 0;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
}
.twobutton_a_2 {
    color: $white;
    background: $grayblack;

}
.lookbutton {
    width: 40%;
    color: $white;
    background: $grayblack;
    display: block;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 16px  auto;
    text-align: center;
}